[(#ID_ARTICLE|oui)
<!--ARTICLE-->
<BOUCLE_principale_article(ARTICLES){id_article}>
  [(#ID_SECTEUR|=={11}|oui)
  <!-- Dans portail, marquer visite inactif -->
    <a class="not_active" href="#URL_RUBRIQUE{1}" title="Visite : information sur le centre d'exposition">Visite</a>
  ]

  [(#ID_SECTEUR|=={1}|oui)
  <!-- Dans visite, marquer portail inactif -->
    <a class="not_active" href="#URL_RUBRIQUE{11}" title="Portail : ressources documentaires sur les enfants en Justice">Portail</a>
  ]

  <!-- Ailleurs, marquer portail et visite inactifs -->
  [(#ID_SECTEUR|=={11}|non)
    [(#ID_SECTEUR|=={1}|non)
      <a class="not_active" href="#URL_RUBRIQUE{1}" title="Visite : information sur le centre d'exposition">Visite</a>
      <a class="not_active" href="#URL_RUBRIQUE{11}" title="Portail : ressources documentaires sur les enfants en Justice">Portail</a>
    ]
  ]

  [(#ID_SECTEUR|=={11}|oui|ou{#ID_SECTEUR|=={1}}|oui)
  <!-- Si dans portail ou visite afficher le fil d'ariane -->
    <nav id="article_ariane">
        <!-- si article n'est pas dans "Portail" (11) -->
        [(#ID_SECTEUR|=={11}|non)
            <BOUCLE_ariane_article(HIERARCHIE)
                {id_article}>
                [(#ID_RUBRIQUE|=={5}|non)
                    <div class="article_ariane_element"><a href="#URL_RUBRIQUE">#TITRE</a></div>
                ]
            </BOUCLE_ariane_article>
        ]

        [(#ID_SECTEUR|=={11}|oui)
            <!-- Article dans portail, exclure rubrique parent -->
            <BOUCLE_ariane2(HIERARCHIE)
                {id_article}
                {exclus}>
                    <div class="article_ariane_element"><a href="#URL_RUBRIQUE">#TITRE</a></div>
            </BOUCLE_ariane2>
        ]
        <div class="article_ariane_element"><a href="#URL_ARTICLE">#TITRE</a></div>
    </nav>
  ]

</BOUCLE_principale_article>
]
[(#ID_ARTICLE|non)
[(#ID_RUBRIQUE|oui)
<!--RUBRIQUE-->
<BOUCLE_principale_rubrique(RUBRIQUES){id_rubrique}>
    
    [(#ID_SECTEUR|=={11}|oui)<a class="not_active" href="#URL_RUBRIQUE{1}" title="Visite : information sur le centre d'exposition">Visite</a>]
    [(#ID_SECTEUR|=={1}|oui)<a class="not_active" href="#URL_RUBRIQUE{11}" title="Portail : ressources documentaires sur les enfants en Justice">Portail</a>]

    <nav id="article_ariane">
        <BOUCLE_ariane_rubrique(HIERARCHIE)
            {id_rubrique}
            {tout}>
            <div class="article_ariane_element"><a href="#URL_RUBRIQUE">#TITRE</a></div>
        </BOUCLE_ariane_rubrique>
    </nav>

</BOUCLE_principale_rubrique>
]
[(#ID_RUBRIQUE|non)
<!--SOMMAIRE-->
]
]
