[(#REM)
    Squelette pour le footer
]

[(#REM)
    Appelé par :
    - sommaire.html
    - article.html
    - rubrique.html
    - recherche.html
]

[(#REM) liens articles de la rubrique "pied de page" n°73]
<footer>
    <div class="header_clone">
        <section id="recherche">
            #FORMULAIRE_RECHERCHE
        </section>
    </div>
    
    <figure id="trame_carre">
        <img alt="Trame du logo Enfants en justice" src="#CHEMIN{assets/img/icons/trame_carre.svg}">
    </figure>
    <nav role="navigation">
        <ul>
            <li class="max_1280">
                <a href=".">Retour à l'accueil</a>
            </li>
            <li>
                <a href="#URL_PAGE{plan}">Plan du site</a>
            </li>
            <BOUCLE_footer(ARTICLES)
                {id_rubrique=73}
                {par num titre, titre}>
                <li>
                    <a href="#URL_ARTICLE">#TITRE</a>
                </li>
            </BOUCLE_footer>
        </ul>
    </nav>
</footer>
