<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <title>#ENV{titre}[ - (#ENV{soustitre})]</title>
    <meta name="description" content="#ENV{descr}">
    <meta name="keywords" content="#ENV{keywords}">
    <meta name="news_keywords" content="#ENV{keywords}">
    <meta name="robots" content="index,follow" />

    <meta property="og:title" content="#ENV{titre}[ - (#ENV{soustitre})]" />
    <meta property="og:site_name" content="#ENV{titre}" />
    <meta property="og:description" content="#ENV{descr}" />
    <meta property="og:image" content="#ENV{ogimg}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="twitter:title" content="#ENV{titre}[ - (#ENV{soustitre})]" />
    <meta property="twitter:description" content="#ENV{descr}" />
    <meta property="twitter:image" content="#ENV{ogimg}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="fb:title" content="#ENV{titre}[ - (#ENV{soustitre})]" />
    <meta property="fb:description" content="#ENV{descr}" />
    <meta property="fb:image" content="#ENV{ogimg}" />
    <meta property="ownpage:title" content="#ENV{titre}[ - (#ENV{soustitre})]" />
    <meta property="ownpage:description" content="#ENV{descr}" />
    <meta property="ownpage:image" content="#ENV{ogimg}" />


    [<link rel="icon" type="image/x-icon" href="(#CHEMIN{assets/img/icons/trame_carre_ico.ico})" />
    [<link rel="shortcut icon" type="image/x-icon" href="(#CHEMIN{assets/img/icons/trame_carre_ico.ico})" />]]

    <link href="#CHEMIN{assets/css/reset.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/variables.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/common.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/fonts.css}" rel="stylesheet">

    <link href="#CHEMIN{assets/css/header.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/main.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/aside.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/footer.css}" rel="stylesheet">

    <link href="#CHEMIN{assets/css/section_common.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/section_sommaire.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/section_recherche.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/section_data.css}" rel="stylesheet">

    <link href="#CHEMIN{assets/css/bloc_common.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/bloc_sommaire.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/bloc_visite.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/bloc_secteur.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/bloc_data.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/bloc_lien.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/bloc_intro.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/bloc_plan_interactif.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/bloc_notice.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/bloc_image.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/zoom_container.css}" rel="stylesheet">

    <link href="#CHEMIN{assets/css/break_point_500.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/break_point_768.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/break_point_1000.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/break_point_1280.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/break_point_1440.css}" rel="stylesheet">
    <link href="#CHEMIN{assets/css/break_point_1600.css}" rel="stylesheet">

    <script src="#CHEMIN{assets/js/main.js}" defer></script>
    <script src="#CHEMIN{assets/js/#ENV{gabarit}.js}" defer></script>

    [<meta name="description" content="(#ENV{description})" />]

    #INSERT_HEAD

</head>
