<!-- Squelette pour le header -->

<!--
    Appelé par :
    - sommaire.html
    - article.html
    - rubrique.html
    - recherche.html
-->

<header>
    <section id="logo_eej">
      <a href="#URL_PAGE{sommaire}" title="Enfants en justice">
        <img alt="Logo Enfants en justice" src="#CHEMIN{assets/img/logo_eej_70.svg}">
      </a>
    </section>
    <section class="min_1280" id="ariane">
        <INCLURE
          {fond=inclure/ariane}
          {env}>
    </section>
    <section id="recherche">
        #FORMULAIRE_RECHERCHE
    </section>
    <section id="logo_institutional">
        <a href="http://www.justice.gouv.fr/" target="_blank">
            <img alt="Logo Ministère de la justice" id="logo_justice" src="#CHEMIN{assets/img/logo_ministere_de_la_justice.svg}">
        </a>
    </section>
</header>
<section class="max_1280" id="ariane"><INCLURE
      {fond=inclure/ariane}
      {env}
    ></section>

