<div id="plan_liste_wrapper">
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   width="100%"
   height="100%"
   viewBox="40 25 240 120"
   version="1.1"
   id="svg13103"
   inkscape:export-filename="../../../../../../../../Téléchargements/bitmap.png"
   inkscape:export-xdpi="300"
   inkscape:export-ydpi="300"
   inkscape:version="1.2.2 (b0a8486541, 2022-12-01)"
   sodipodi:docname="plan_visite.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview13105"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     inkscape:document-units="mm"
     showgrid="false"
     showguides="true"
     inkscape:zoom="15.90895"
     inkscape:cx="186.87594"
     inkscape:cy="89.289363"
     inkscape:window-width="1920"
     inkscape:window-height="1080"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1"
     inkscape:current-layer="g14631">
    <inkscape:grid
       type="xygrid"
       id="grid25864" />
  </sodipodi:namedview>
  <defs
     id="defs13100" />
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1">
    <g
       id="g14428"
       transform="matrix(1.2922679,0,0,1.2922679,-48.249353,-16.562346)">
      <g
         id="g14631"
         transform="matrix(1.0709663,0,0,1.0709663,-13.87877,-10.959683)">
        <path
           style="fill:#ffffff;stroke:#000000;stroke-width:0.191176px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           d="m 239.25386,204.66379 -189.7459,-94.5909 40.056524,-19.983248 -4e-6,-21.665893 84.47354,-42.131204 21.75779,10.789779 100.65969,-50.316891 67.35314,29.675 -176.2399,87.837967 126.49725,63.0606 z"
           id="ground"
           sodipodi:nodetypes="ccccccccccc" />
        <path
           style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 93.50832,91.926907 80.5297,-40.176961 55.6039,27.751095 -80.52976,40.145149 z"
           id="floor"
           sodipodi:nodetypes="ccccc" />
        <a
           href="./?La-redemption"
           id="a1239">
          <g
             class="chambrette"
             id="redemption"
             style="[(#ENV{chambrette}|=={35}|oui)opacity:1;][(#ENV{chambrette}|=={35}|non)opacity:0;][(#ENV{rubrique}|=={1}|oui)opacity:0;]">
            <path
               style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.191477;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
               d="m 151.02952,63.251833 21.09114,10.514215 -11.50425,5.734997 -21.09114,-10.514178 z"
               id="path440-6-7" />
            <circle
               style="opacity:0.99;[(#ENV{chambrette}|=={35}|oui)fill:var(--light-cumulus);][(#ENV{chambrette}|=={35}|non)fill:#fff;]fill-opacity:1;stroke:none;stroke-width:0.191176;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;stop-color:#000000"
               id="circle2074"
               cx="155.82297"
               cy="71.376442"
               r="4.0623512" />
            <text
               xml:space="preserve"
               transform="matrix(0.19117633,0,0,0.19117633,146.60388,72.08035)"
               id="text533"
               style="font-size:14px;line-height:1.25;font-family:Marianne;-inkscape-font-specification:Marianne;letter-spacing:0px;white-space:pre;shape-inside:url(#rect535);display:inline"><tspan
                 x="0"
                 y="0"
                 id="tspan6739">La rédemption</tspan></text>
          </g>
        </a>
        <a
           href="./?L-evasion"
           id="a1246">
          <g
             class="chambrette"
             id="evasion"
             style="[(#ENV{chambrette}|=={59}|oui)opacity:1;][(#ENV{chambrette}|=={59}|non)opacity:0;][(#ENV{rubrique}|=={1}|oui)opacity:0;]">
            <path
               style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.191477;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
               d="m 162.53377,57.516799 21.09114,10.514215 -11.50425,5.734997 -21.09114,-10.514178 z"
               id="path440-6" />
            <circle
               style="opacity:0.99;[(#ENV{chambrette}|=={59}|oui)fill:var(--light-cumulus);][(#ENV{chambrette}|=={59}|non)fill:#fff;]fill-opacity:1;stroke:none;stroke-width:0.191176;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;stop-color:#000000"
               id="circle2072"
               cx="167.32721"
               cy="65.641403"
               r="4.0623512" />
            <text
               xml:space="preserve"
               transform="matrix(0.19117633,0,0,0.19117633,161.70931,66.566096)"
               id="text539"
               style="font-size:14px;line-height:1.25;font-family:Marianne;-inkscape-font-specification:Marianne;letter-spacing:0px;white-space:pre;shape-inside:url(#rect541);display:inline"><tspan
                 x="0"
                 y="0"
                 id="tspan6741">L'évasion</tspan></text>
          </g>
        </a>
        <a
           href="./?La-punition"
           id="a1253">
          <g
             class="chambrette"
             id="punition"
             style="[(#ENV{chambrette}|=={83}|oui)opacity:1;][(#ENV{chambrette}|=={83}|non)opacity:0;][(#ENV{rubrique}|=={1}|oui)opacity:0;]">
            <path
               style="fill:#ffffff;stroke:none;stroke-width:0.1914774;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1;stroke-dasharray:none"
               d="M 174.03802,51.781765 195.12916,62.29598 183.62491,68.030977 162.53377,57.516799 Z"
               id="path440" />
            <circle
               style="opacity:0.99;[(#ENV{chambrette}|=={83}|oui)fill:var(--light-cumulus);][(#ENV{chambrette}|=={83}|non)fill:#fff;]fill-opacity:1;stroke:none;stroke-width:0.191176;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;stop-color:#000000"
               id="circle2070"
               cx="178.83183"
               cy="59.771152"
               r="4.0623512" />
            <text
               xml:space="preserve"
               transform="matrix(0.19117633,0,0,0.19117633,171.72313,60.436255)"
               id="text545"
               style="font-size:14px;line-height:1.25;font-family:Marianne;-inkscape-font-specification:Marianne;letter-spacing:0px;white-space:pre;shape-inside:url(#rect547);display:inline"><tspan
                 x="0"
                 y="0"
                 id="tspan6743">La punition</tspan></text>
          </g>
        </a>
        <a
           href="./?La-fiction"
           id="a1260">
          <g
             class="chambrette"
             id="fiction"
             style="[(#ENV{chambrette}|=={32}|oui)opacity:1;][(#ENV{chambrette}|=={32}|non)opacity:0;][(#ENV{rubrique}|=={1}|oui)opacity:0;]">
            <path
               style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.191477;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
               d="M 208.55078,68.873208 229.64192,79.387423 218.13767,85.12242 197.04653,74.608242 Z"
               id="path440-2" />
            <circle
               style="opacity:0.99;[(#ENV{chambrette}|=={32}|oui)fill:var(--light-cumulus);][(#ENV{chambrette}|=={32}|non)fill:#fff;]fill-opacity:1;stroke:none;stroke-width:0.191176;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;stop-color:#000000"
               id="circle2068"
               cx="213.35806"
               cy="76.997818"
               r="4.0623512" />
            <text
               xml:space="preserve"
               transform="matrix(0.19117633,0,0,0.19117633,207.62373,78.008184)"
               id="text581"
               style="font-size:14px;line-height:1.25;font-family:Marianne;-inkscape-font-specification:Marianne;letter-spacing:0px;white-space:pre;shape-inside:url(#rect583);display:inline"><tspan
                 x="0"
                 y="0"
                 id="tspan6745">La fiction</tspan></text>
          </g>
        </a>
        <g
           id="g3975"
           transform="translate(-78.73266,30.023432)">
          <path
             id="path21205"
             style="fill:none;fill-opacity:1;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="M 316.04403,49.477601 V 27.811738 L 252.77068,-3.730887 v 0 l -84.47353,42.131204 v 21.665892 l 3.94383,1.837266 80.5297,-40.145141"
             sodipodi:nodetypes="cccccccc" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="m 168.29714,38.400317 3.94384,1.837294 80.5297,-40.176972 59.54771,29.588365 3.72564,-1.837266 -63.27335,-31.542625 z"
             id="walls_of_fuck" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="M 252.77068,21.726514 V 0.060639"
             id="path10397-9" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="M 172.24097,61.903476 V 40.237611"
             id="path10397-9-7" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="m 308.37458,49.363991 -5e-5,-21.552253"
             id="path10397-9-7-7"
             sodipodi:nodetypes="cc" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="M 273.86219,32.137317 V 10.471453"
             id="path10397-9-7-7-9" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="M 241.26643,27.493367 V 5.827484"
             id="path10397-9-7-7-9-2" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="M 206.75373,44.698421 V 23.032549"
             id="path10397-9-7-7-9-2-90" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="M 195.24948,50.433448 V 28.767557"
             id="path10397-9-7-7-9-2-8" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="M 183.74486,56.033246 V 34.367382"
             id="path10397-9-7-7-9-2-85" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="M 229.76217,33.228367 V 11.562506"
             id="path10397-9-7-7-9-2-9" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="M 218.25798,38.963394 V 17.297527"
             id="path10397-9-7-7-9-2-3" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="M 287.28341,38.963394 V 17.297527"
             id="path10397-9-7-7-4" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="M 312.31839,51.314895 V 29.649004"
             id="path10397-9-7-6-3" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="m 312.31839,25.974449 -3.94386,1.837289"
             id="path22696" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="m 237.3226,3.990201 3.94383,1.837283"
             id="path22696-0-61" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="m 248.82685,-1.776643 3.94383,1.837282"
             id="path22696-0-61-8" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="m 256.71454,-1.776643 -3.94386,1.837282"
             id="path22696-0-61-8-1" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="m 225.76381,9.789923 3.94383,1.837282"
             id="path22696-0-9-1" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="m 214.31415,15.460245 3.94383,1.837282"
             id="path22696-0-6-5" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="m 202.8099,21.195266 3.94383,1.837283"
             id="path22696-0-3-9" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="m 191.30565,26.930288 3.94383,1.837269"
             id="path22696-0-8-8" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="m 179.64435,32.70249 3.94386,1.83729"
             id="path22696-0-5-4" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="m 277.80605,8.763956 -3.94386,1.837283"
             id="path22696-8" />
          <path
             style="fill:none;stroke:#000000;stroke-width:0.191176;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
             d="m 291.22725,15.460245 -3.94384,1.837282"
             id="path22696-1" />
        </g>
        <a
           href="./?La-prevention"
           id="a1267">
          <g
             class="chambrette"
             id="prevention"
             style="[(#ENV{chambrette}|=={33}|oui)opacity:1;][(#ENV{chambrette}|=={33}|non)opacity:0;][(#ENV{rubrique}|=={1}|oui)opacity:0;]">
            <path
               style="fill:#fff;fill-opacity:1;stroke:none;stroke-width:0.191477;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
               d="m 197.04653,74.72186 21.09114,10.514215 -11.50425,5.734997 -21.09114,-10.514178 z"
               id="path440-6-9" />
            <circle
               style="opacity:0.99;[(#ENV{chambrette}|=={33}|oui)fill:var(--light-cumulus);][(#ENV{chambrette}|=={33}|non)fill:#fff;]fill-opacity:1;stroke:none;stroke-width:0.191176;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;stop-color:#000000"
               id="circle2066"
               cx="201.83998"
               cy="82.846466"
               r="4.0623512" />
            <text
               xml:space="preserve"
               transform="matrix(0.19117633,0,0,0.19117633,193.21506,83.550377)"
               id="text575"
               style="font-size:14px;line-height:1.25;font-family:Marianne;-inkscape-font-specification:Marianne;letter-spacing:0px;white-space:pre;shape-inside:url(#rect577);display:inline"><tspan
                 x="0"
                 y="0"
                 id="tspan6747">La prévention</tspan></text>
          </g>
        </a>
        <a
           href="./?La-reeducation"
           id="a1274">
          <g
             class="chambrette"
             id="reeducation"
             style="[(#ENV{chambrette}|=={57}|oui)opacity:1;][(#ENV{chambrette}|=={57}|non)opacity:0;][(#ENV{rubrique}|=={1}|oui)opacity:0;]">
            <path
               style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.191477;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
               d="m 185.54228,80.456894 21.09114,10.514215 -11.50425,5.734997 -21.09114,-10.514178 z"
               id="path440-6-7-1" />
            <circle
               style="opacity:0.99;[(#ENV{chambrette}|=={57}|oui)fill:var(--light-cumulus);][(#ENV{chambrette}|=={57}|non)fill:#fff;]fill-opacity:1;stroke:none;stroke-width:0.191176;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;stop-color:#000000"
               id="circle2064"
               cx="190.33571"
               cy="88.581497"
               r="4.0623512" />
            <text
               xml:space="preserve"
               transform="matrix(0.19117633,0,0,0.19117633,180.97076,89.593205)"
               id="text569"
               style="font-size:14px;line-height:1.25;font-family:Marianne;-inkscape-font-specification:Marianne;letter-spacing:0px;white-space:pre;shape-inside:url(#rect571);display:inline"><tspan
                 x="0"
                 y="0"
                 id="tspan6749">La rééducation</tspan></text>
          </g>
        </a>
        <a
           href="./?La-rebellion"
           id="a1281">
          <g
             class="chambrette"
             id="rebellion"
             style="[(#ENV{chambrette}|=={82}|oui)opacity:1;][(#ENV{chambrette}|=={82}|non)opacity:0;][(#ENV{rubrique}|=={1}|oui)opacity:0;]">
            <path
               style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.191477;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
               d="M 174.03805,86.191881 195.12919,96.706096 183.62494,102.44109 162.5338,91.926915 Z"
               id="path440-6-7-5-2" />
            <circle
               style="opacity:0.99;[(#ENV{chambrette}|=={82}|oui)fill:var(--light-cumulus);][(#ENV{chambrette}|=={82}|non)fill:#fff;]fill-opacity:1;stroke:none;stroke-width:0.191176;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;stop-color:#000000"
               id="circle2062"
               cx="178.83148"
               cy="94.316483"
               r="4.0623512" />
            <text
               xml:space="preserve"
               transform="matrix(0.19117633,0,0,0.19117633,171.47924,95.320158)"
               id="text563"
               style="font-size:14px;line-height:1.25;font-family:Marianne;-inkscape-font-specification:Marianne;letter-spacing:0px;white-space:pre;shape-inside:url(#rect565);display:inline"><tspan
                 x="0"
                 y="0"
                 id="tspan6751">La rebellion</tspan></text>
          </g>
        </a>
        <a
           href="./?La-condamnation"
           id="a1288">
          <g
             class="chambrette"
             id="condamnation"
             style="[(#ENV{chambrette}|=={81}|oui)opacity:1;][(#ENV{chambrette}|=={81}|non)opacity:0;][(#ENV{rubrique}|=={1}|oui)opacity:0;]">
            <path
               id="path440-6-7-5-3-7"
               style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.191477;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
               d="M 162.53375 91.927018 L 151.02957 97.661934 L 139.52538 103.39685 L 160.61639 113.91118 L 172.12057 108.17626 L 183.62476 102.44097 L 162.53375 91.927018 z " />
            <circle
               style="opacity:0.99;[(#ENV{chambrette}|=={81}|oui)fill:var(--light-cumulus);][(#ENV{chambrette}|=={81}|non)fill:#fff;]fill-opacity:1;stroke:none;stroke-width:0.191176;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;stop-color:#000000"
               id="circle2060"
               cx="162.16794"
               cy="103.07437"
               r="4.0623512" />
            <text
               xml:space="preserve"
               transform="matrix(0.19117633,0,0,0.19117633,151.19977,104.07805)"
               id="text557"
               style="font-size:14px;line-height:1.25;font-family:Marianne;-inkscape-font-specification:Marianne;letter-spacing:0px;white-space:pre;shape-inside:url(#rect559);display:inline"><tspan
                 x="0"
                 y="0"
                 id="tspan6753">La condamnation</tspan></text>
          </g>
        </a>
        <a
           href="./?La-reinsertion"
           id="a1295">
          <g
             class="chambrette"
             id="reinsertion"
             style="[(#ENV{chambrette}|=={31}|oui)opacity:1;][(#ENV{chambrette}|=={31}|non)opacity:0;][(#ENV{rubrique}|=={1}|oui)opacity:0;]">
            <path
               style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.191477;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
               d="m 139.52529,68.98682 21.09114,10.514215 -11.50425,5.734997 -21.09114,-10.514178 z"
               id="path440-6-7-5" />
            <circle
               style="opacity:0.99;[(#ENV{chambrette}|=={31}|oui)fill:var(--light-cumulus);][(#ENV{chambrette}|=={31}|non)fill:#fff;]fill-opacity:1;stroke:none;stroke-width:0.191176;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;stop-color:#000000"
               id="circle2058"
               cx="144.31874"
               cy="77.111443"
               r="4.0623512" />
            <text
               xml:space="preserve"
               transform="matrix(0.19117633,0,0,0.19117633,135.63093,78.123131)"
               id="text527"
               style="font-size:14px;line-height:1.25;font-family:Marianne;-inkscape-font-specification:Marianne;letter-spacing:0px;white-space:pre;shape-inside:url(#rect529);display:inline"><tspan
                 x="0"
                 y="0"
                 id="tspan6755">La réinsertion</tspan></text>
          </g>
        </a>
        <a
           href="./?Le-comptage"
           id="a1302">
          <g
             class="chambrette"
             id="comptage"
             style="[(#ENV{chambrette}|=={30}|oui)opacity:1;][(#ENV{chambrette}|=={30}|non)opacity:0;][(#ENV{rubrique}|=={1}|oui)opacity:0;]">
            <path
               style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.191477;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
               d="m 128.02104,74.721854 21.09114,10.514215 -11.50426,5.734997 -21.09113,-10.514178 z"
               id="path440-6-7-5-3" />
            <circle
               style="opacity:0.99;[(#ENV{chambrette}|=={30}|oui)fill:var(--light-cumulus);][(#ENV{chambrette}|=={30}|non)fill:#fff;]fill-opacity:1;stroke:none;stroke-width:0.191176;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;stop-color:#000000"
               id="circle2056"
               cx="132.81448"
               cy="82.846497"
               r="4.0623512" />
            <text
               xml:space="preserve"
               transform="matrix(0.19117633,0,0,0.19117633,124.61111,83.480783)"
               id="text521"
               style="font-size:14px;line-height:1.25;font-family:Marianne;-inkscape-font-specification:Marianne;letter-spacing:0px;white-space:pre;shape-inside:url(#rect523);display:inline"><tspan
                 x="0"
                 y="0"
                 id="tspan6757">Le comptage</tspan></text>
          </g>
        </a>
        <a
           href="./?la-classification"
           id="a1309">
          <g
             class="chambrette"
             id="classification"
             style="[(#ENV{chambrette}|=={58}|oui)opacity:1;][(#ENV{chambrette}|=={58}|non)opacity:0;][(#ENV{rubrique}|=={1}|oui)opacity:0;]">
            <path
               style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.191477;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
               d="M 116.51682,80.456875 137.60796,90.97109 126.1037,96.706087 105.01257,86.191909 Z"
               id="path440-6-7-5-3-5" />
            <circle
               style="opacity:0.99;[(#ENV{chambrette}|=={58}|oui)fill:var(--light-cumulus);][(#ENV{chambrette}|=={58}|non)fill:#fff;]fill-opacity:1;stroke:none;stroke-width:0.191176;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;stop-color:#000000"
               id="circle2054"
               cx="121.31026"
               cy="88.581482"
               r="4.0623512" />
            <text
               xml:space="preserve"
               transform="matrix(0.19117633,0,0,0.19117633,111.45952,89.591848)"
               id="text459"
               style="font-size:14px;line-height:1.25;font-family:Marianne;-inkscape-font-specification:Marianne;letter-spacing:0px;white-space:pre;shape-inside:url(#rect461);display:inline"><tspan
                 x="0"
                 y="0"
                 id="tspan6759">La classification</tspan></text>
          </g>
        </a>
        <a
           href="./?L-observation"
           id="a1316">
          <g
             class="chambrette"
             id="observation"
             style="[(#ENV{chambrette}|=={34}|oui)opacity:1;][(#ENV{chambrette}|=={34}|non)opacity:0;][(#ENV{rubrique}|=={1}|oui)opacity:0;]">
            <path
               style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.191477;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
               d="M 105.01256,86.191885 126.1037,96.7061 114.59944,102.4411 93.508307,91.926919 Z"
               id="path440-6-7-5-3-5-6" />
            <circle
               style="opacity:0.99;[(#ENV{chambrette}|=={34}|oui)fill:var(--light-cumulus);][(#ENV{chambrette}|=={34}|non)fill:#fff;]fill-opacity:1;stroke:none;stroke-width:0.191176;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;stop-color:#000000"
               id="circle2050"
               cx="109.806"
               cy="94.31649"
               r="4.0623512" />
            <text
               xml:space="preserve"
               style="font-size:2.67647px;line-height:1.25;font-family:Marianne;-inkscape-font-specification:Marianne;letter-spacing:0px;stroke-width:0.191176"
               x="101.88179"
               y="95.258743"
               id="text457"><tspan
                 sodipodi:role="line"
                 id="tspan455"
                 style="stroke-width:0.191176"
                 x="101.88179"
                 y="95.258743">L'observation</tspan></text>
          </g>
        </a>
        <a
           href="./?Le-jugement"
           id="a1323">
          <g
             class="chambrette"
             id="jugement"
             style="[(#ENV{chambrette}|=={18}|oui)opacity:1;][(#ENV{chambrette}|=={18}|non)opacity:0;][(#ENV{rubrique}|=={1}|oui)opacity:0;]">
            <path
               style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:0.191477;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
               d="m 139.52532,103.39695 21.09114,10.51421 -11.50426,5.735 -21.09113,-10.51418 z"
               id="path440-6-7-5-3-5-6-9" />
            <circle
               style="opacity:0.99;[(#ENV{chambrette}|=={18}|oui)fill:var(--light-cumulus);][(#ENV{chambrette}|=={18}|non)fill:#fff;]fill-opacity:1;stroke:none;stroke-width:0.191176;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;stop-color:#000000"
               id="circle2052"
               cx="144.31877"
               cy="111.52155"
               r="4.0623512" />
            <text
               xml:space="preserve"
               transform="matrix(0.19117633,0,0,0.19117633,136.34825,112.18666)"
               id="text551"
               style="font-size:14px;line-height:1.25;font-family:Marianne;-inkscape-font-specification:Marianne;letter-spacing:0px;white-space:pre;shape-inside:url(#rect553);display:inline"><tspan
                 x="0"
                 y="0"
                 id="tspan6761">Le jugement</tspan></text>
          </g>
        </a>
        <path
           style="fill:none;stroke:#888888;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;stroke-dasharray:none"
           d="m 89.564484,90.089642 -40.056524,19.983248 63.24863,31.5303 40.25491,-20.09755"
           id="path29991" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="M 183.62491,68.030978 162.53377,57.516799"
           id="path1921-3-0-6-3-2-6-54-6"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="M 160.61641,79.501033 139.52532,68.986826"
           id="path1921-3-0-6-3-2-6-6"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="M 149.11216,85.23606 128.02107,74.721853"
           id="path1921-3-0-6-3-2-0-49"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="M 126.10371,96.706087 105.01256,86.191908"
           id="path1921-3-0-6-3-0"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="M 137.60796,90.971088 116.51682,80.45688"
           id="path1921-3-0-6-3-2-4"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="M 172.12066,73.766006 151.02951,63.251799"
           id="path1921-3-0-6-3-2-6-5-87"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 208.55075,68.986826 -5.75208,2.867514"
           id="path1921-4-5-1"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 191.29441,77.589367 -5.75214,2.867513"
           id="path1921-5-9-7"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 197.04652,74.721853 21.0911,10.514207"
           id="path1921-3-0-6-3-2-6-54-3-2"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 185.54227,80.45688 -5.75211,2.867515"
           id="path1921-0-7-7"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 168.28591,89.059394 -5.75214,2.867513"
           id="path1921-3-4-2"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 174.03802,86.191908 21.09114,10.514179"
           id="path1921-3-0-6-3-2-6-52-2"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 162.53377,91.926907 -5.75212,2.867514"
           id="path1921-5-6-5-6"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 162.53377,91.926907 21.09114,10.514203"
           id="path1921-3-0-6-3-2-0-4-1"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 145.27746,100.52945 -5.75214,2.8675"
           id="path1921-0-1-7-0"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 133.77321,106.26447 -5.75214,2.86751"
           id="path1921-3-0-4-6"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="M 126.10371,96.706087 120.35157,99.5736"
           id="path1921-3-0-4-8-1"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.1914774;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 139.52532,103.39695 21.09109,10.51421"
           id="path1921-3-0-6-3-3-9"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 151.02951,97.661934 5.75214,2.867516"
           id="path1921-3-0-6-3-2-07-4"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 166.36852,105.30862 5.75214,2.86752"
           id="path1921-3-0-6-3-2-07-6-9"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 185.54227,80.45688 21.0911,10.514208"
           id="path1921-3-0-6-3-2-6-5-8-0"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 131.85582,93.838602 -5.75211,2.867485"
           id="path1921-3-0-4-3-9"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 149.11216,85.23606 -5.75209,2.867514"
           id="path1921-3-0-4-1-1"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 154.86427,82.368547 -5.75211,2.867513"
           id="path1921-3-0-4-4-7"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 172.12066,73.766006 -5.75214,2.867514"
           id="path1921-3-0-4-9-7"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 177.87277,70.898493 -5.75211,2.867513"
           id="path1921-3-0-4-2-1"
           sodipodi:nodetypes="cc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.19117633;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 195.12916,62.295979 -5.75214,2.867514"
           id="path1921-3-0-4-0-1"
           sodipodi:nodetypes="cc" />
        <path
           id="path16262-5"
           style="opacity:0.99;fill:none;stroke:#888888;stroke-width:0.19117633;stroke-dasharray:none;stroke-opacity:1;paint-order:markers fill stroke;stop-color:#000000"
           d="m 82.048629,97.639762 -24.925865,12.425858 24.925865,12.42591 4.012252,-2.00018 c -9.625592,-6.10394 -9.6263,-14.74691 0,-20.851043 z m 51.592351,25.719478 c -12.24528,4.79943 -29.58367,4.79872 -41.827958,-3.7e-4 l -4.01231,2.00017 24.925868,12.42587 24.92589,-12.42587 z" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.191176px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           d="m 93.508307,91.926919 80.529713,-40.145154 55.6039,27.605658 -80.52976,40.258767 3.94386,1.83726 84.25535,-41.982417 -3.72564,1.837294 -3.94381,-1.950904 -55.6039,-27.637477 -80.529713,40.176973 -3.943822,-1.837277 z"
           id="walls"
           sodipodi:nodetypes="cccccccccccc" />
        <path
           style="fill:none;stroke:#000000;stroke-width:0.191176px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           d="m 93.508307,91.926919 -3.943822,-1.837277 -40.056525,19.983248 63.24863,31.5303 40.29943,-20.11974 -3.94386,-1.83726 -36.38558,18.13872 -55.603816,-27.71929 z"
           id="amphi" />
        <path
           style="fill:#2558a2;fill-opacity:1;stroke:#000000;stroke-width:0.112389;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1"
           d="m 211.28345,107.24165 v -5.84545 l 4.05958,4.01621 -1.68127,0.27128 0.98806,1.87486 -0.92566,0.42399 -1.00595,-1.88899 z"
           id="path2454"
           sodipodi:nodetypes="cccccccc" />
      </g>
    </g>
  </g>
</svg>
</div>
