<section class="temporary-info">
<a 
href="https://enfantsenjustice.fr/?4eme-journee-de-valorisation-des-portails-15-octobre-2024">La 4ème Journée de valorisation des portails aura lieu le 15 octobre 2024</a>
</section>
