<!-- 
    Appelé par :
    - main/main_sommaire.html

    Appelle :
    - blocs/bloc_article.html
-->

<BOUCLE_scope(RUBRIQUES)
    {id_rubrique}
>

<section class="liste_articles">
    <div class="caption">
        <h3>#TITRE</h3>
    </div>
    <div class="content">

        <BOUCLE_articles(ARTICLES)
            {id_rubrique}
            {0,4}
            {!par date}
        >

            <INCLURE
                {fond=inclure/blocs/bloc_article}
                {titre}
                {url=#URL_ARTICLE}
                {logo=#LOGO_ARTICLE}>
            

        </BOUCLE_articles>

    </div>
</section>

</BOUCLE_scope>
