<BOUCLE_scope(ARTICLES)
    {id_article}
>

<B_liens>
<!-- Section liens-->
<section class="liens">
    
    <div class="caption">
        <h3>Liens externes</h3>
    </div>

    <div class="content">
	
    	<BOUCLE_liens(SITES?)
            {id_rubrique}
            {par nom_site}>

            <!-- inclusion de inclure/blocs/bloc_lien.html -->
            <INCLURE
                {fond=inclure/blocs/bloc_lien}
                {url=#URL_SITE}
                {nom_site=#NOM_SITE}
                {descriptif=#DESCRIPTIF}>

        </BOUCLE_liens>
    
    </div>

</section>
</B_liens>

</BOUCLE_scope>
