
<section class="logos-partenaires">
    <div class="caption">
        <h3>Logos des partenaires</h3>
    </div>
    <div class="content">
        <ul>
            <li>
                <a href="https://www.cnahes.org/" target="_blank">
                    <img alt="Logo du CNAHES" src="#CHEMIN{assets/img/logos_partenaires/logo_cnahes.jpg}">
                </a>
            </li>
            <li>
                <a href="https://www.adolie.enpjj.justice.fr/" target="_blank">
                    <img alt="Logo Adolie" src="#CHEMIN{assets/img/logos_partenaires/logo_adolie.png}">
                </a>
            </li>
            <li>
                <a href="https://www.etsup.com/" target="_blank">
                    <img alt="Logo ETsup" src="#CHEMIN{assets/img/logos_partenaires/logo_etsup.png}">
                </a>
            </li>
            <li>
                <a href="https://www.ensparis.fr/" target="_blank">
                    <img alt="Logo ENS" src="#CHEMIN{assets/img/logos_partenaires/logo_ens.png}">
                </a>
            </li>
            <li>
                <a href="https://ahpjm.hypotheses.org/" target="_blank">
                    <img alt="Logo AHPJM" src="#CHEMIN{assets/img/logos_partenaires/logo_ahpjm.jpeg}">
                </a>
            </li>
            <li>
                <a href="http://www.justice.gouv.fr/" target="_blank">
                    <img alt="Logo Ministère de la justice" src="#CHEMIN{assets/img/logos_partenaires/logo_justice.png}">
                </a>
            </li>
            <li>
                <a href="https://www.enpjj.justice.fr/" target="_blank">
                    <img alt="Logo ENPJJ" src="#CHEMIN{assets/img/logos_partenaires/logo_enpjj.jpg}">
                </a>
            </li>
        </ul>
    </div>
</section>