<!-- 
    Appellé par :
    - main_sommaire.html
-->

<section class="liste_articles">
    <div class="caption">
        <h3>#TITRE</h3>
    </div>
    <div class="content">

        <BOUCLE_doc_1800(DOCUMENTS articles)
            {objet=article}
            {articles.id_secteur=11}
            {par hasard}
            {media=image}
            {date < 1900-01-01 00-00-00}
            {0,1}
            {statut=publie}>

            <BOUCLE_article_1800(ARTICLES)
                {id_document}
                {0,1}
                {statut=publie}>
                <INCLURE
                    {fond=inclure/blocs/bloc_article_image}
                    {titresrc=#TITRE}
                    {titre=#INFO_TITRE{document, #ID_DOCUMENT}<br><span class="title_article">#TITRE</span>}
                    {url=#URL_ARTICLE}
                    {logo=#INFO_URL{document, #ID_DOCUMENT}}>
            </BOUCLE_article_1800>

        </BOUCLE_doc_1800>

        <BOUCLE_doc_1900(DOCUMENTS articles)
            {objet=article}
            {articles.id_secteur=11}
            {par hasard}
            {media=image}
            {date > 1900-01-01 00-00-00}
            {date < 1945-01-01 00-00-00}
            {0,1}
            {statut=publie}>

            <BOUCLE_article_1900(ARTICLES)
                {id_document}
                {0,1}
                {statut=publie}>
                <INCLURE
                    {fond=inclure/blocs/bloc_article_image}
                    {titresrc=#TITRE}
                    {titre=#INFO_TITRE{document, #ID_DOCUMENT}<br><span class="title_article">#TITRE</span>}
                    {url=#URL_ARTICLE}
                    {logo=#INFO_URL{document, #ID_DOCUMENT}}>
            </BOUCLE_article_1900>

        </BOUCLE_doc_1900>

        <BOUCLE_doc_1945(DOCUMENTS documents_liens)
            {objet=article}
            {articles.id_secteur=11}
            {par hasard}
            {media=image}
            {date > 1945-01-01 00-00-00}
            {date < 2013-01-01 00-00-00}
            {0,1}
            {statut=publie}>

            <BOUCLE_article_1945(ARTICLES)
                {id_document}
                {0,1}
                {statut=publie}>
                <INCLURE
                    {fond=inclure/blocs/bloc_article_image}
                    {titresrc=#TITRE}
                    {titre=#INFO_TITRE{document, #ID_DOCUMENT}<br><span class="title_article">#TITRE</span>}
                    {url=#URL_ARTICLE}
                    {logo=#INFO_URL{document, #ID_DOCUMENT}}>
            </BOUCLE_article_1945>
            
        </BOUCLE_doc_1945>

    </div>
</section>