<section class="grid partenaires">
    <div class="caption">
        <h3>Partenaires</h3>
    </div>
    
    <div class="content">

        <!-- RSS PPE -->
        <div class="bloc summary-children">
            <a href="https://histoire-protection-enfance.fr/" target="_blank" class="caption external">
                <figure>
                    <div><img alt="Logo Portail – Protection de l’enfance" src="#CHEMIN{assets/img/logos_partenaires/logo_ppe_cercle.png}"></div>
                    <figcaption>
                        <h3>Portail – Protection de l’enfance</h3>
                    </figcaption>
                </figure>
            </a>

            <div class="content">
                #SET{address, 'https://histoire-protection-enfance.fr/spip/?page=backend&id_rubrique=1'}
                <BOUCLE_rss(DATA){source rss, #GET{address}}{0,4}>        
                    <a target="_blank" href="#VALEUR{url}" class="bloc summary-sub-children [(#DESCRIPTIF|extraire_balise{img}|non)no_logo] external">
                        <figure>
                            [<div>(#DESCRIPTIF|extraire_balise{img})</div>]
                            <figcaption>
                                <h4>#VALEUR{titre}</h4>
                            </figcaption>
                        </figure>
                    </a>
                </BOUCLE_rss>
            </div>

        </div>


        <!-- ADOLIE -->
        <div class="bloc summary-children adolie">

            <a href="https://www.adolie.enpjj.justice.fr/" target="_blank" class="caption external">
                <figure>
                    <div><img alt="Logo Adolie" src="https://adolie.enpjj.justice.fr/themes/ENPJJ2/images/bg.jpg"></div>
                    <figcaption>
                        <h3>Adolie</h3>
                    </figcaption>
                </figure>
            </a>

            <div class="content">
                <template class="bloc_summary_sub_children_template">
                    <a href="" target="_blank" class="bloc summary-sub-children external">
                        <figure>
                            <div><img src=""></div>
                            <figcaption>
                                <h4></h4>
                            </figcaption>
                        </figure>
                    </a>
                </template>
            </div>

        </div>

    </div>

</section>