<B_documents>
<!--
    Appelé par :
    - main_article.html

    Appelle :
    - bloc_summary_children.html
-->
<section class="documents">

    <div class="caption">
        <h3>Documents</h3>
    </div>

    <div class="content">

        <div class="bloc summary-children">
            <BOUCLE_documents(DOCUMENTS)
                {id_article}
                {media=file}
                {par date}>
                <INCLURE
                    {fond=inclure/blocs/bloc_summary_sub_children}
                    {titre}
                    {url=#FICHIER}>

            </BOUCLE_documents>
        </div>
        
    </div>

</section>
</B_documents>
