<!-- 
    Appelé par : 
    - main_recherche.html

    Appelle :
    - blocs/bloc_summary_sub_children.html
--->

<!-- resultats ds les articles --->
<BB_resultats_articles>
<section class="recherche articles">

    <div class="caption">
        <h3>Items (#GRAND_TOTAL)</h3>
    </div>

    <div class="content">

        <div class="bloc summary-children">

            <!-- pas de .caption pour ce .bloc.summary-children-->

            <div class="content">

                <B_resultats_articles>
                    #ANCRE_PAGINATION

                    <div>
                        <BOUCLE_resultats_articles(ARTICLES)
                            {recherche}
                            {!par points}
                            {pagination 10}>
                            <INCLURE
                                {fond=inclure/blocs/bloc_summary_sub_children}
                                {titre}
                                {url=#URL_ARTICLE}
                                {logo=#LOGO_ARTICLE}>
                        </BOUCLE_resultats_articles>
                    </div>

                    [<nav role="navigation" class="p pagination">(#PAGINATION)</nav>]
                </B_resultats_articles>
                    <!-- pas de résultats -->
                    <p>Pas d’items pour cette recherche.</p>
                <//B_resultats_articles>

            </div>

        </div>

    </div>

</section>
</BB_resultats_articles>

<!-- resultats ds les documents --->
<BB_resultats_documents>
<section class="recherche documents">

    <div class="caption">
        <h3>Documents (#GRAND_TOTAL)</h3>
    </div>

    <div class="content">

        <div class="bloc summary-children">

            <!-- pas de .caption pour ce .bloc.summary-children-->

            <div class="content">

                </B_resultats_documents>

                    #ANCRE_PAGINATION

                    <div>
                        <BOUCLE_resultats_documents(DOCUMENTS)
                            {media=file}
                            {recherche}
                            {!par points}
                            {pagination 10}>
                            <INCLURE
                                {fond=inclure/blocs/bloc_summary_sub_children}
                                {titre}
                                {url=#FICHIER}
                                {target="_blank"}>
                        </BOUCLE_resultats_documents>
                    </div>

                    [<nav role="navigation" class="p pagination">(#PAGINATION)</nav>]
                    
                </B_resultats_documents>
                    <!-- pas de résultats -->
                    <p>Pas de documents pour cette recherche.</p>
                <//B_resultats_documents>

            </div>

        </div>

    </div>

</section>
</BB_resultats_documents>

<!-- resultats ds les liens --->
<BB_resultats_liens>
<section class="recherche liens">

    <div class="caption">
        <h3>Liens externes (#GRAND_TOTAL)</h3>
    </div>

    <div class="content">

        <div class="bloc summary-children">

            <!-- pas de .caption pour ce .bloc.summary-children-->

            <div class="content">

                <B_resultats_liens>

                    #ANCRE_PAGINATION

                    <div>
                        <BOUCLE_resultats_liens(SITES?)
                            {recherche}
                            {!par points}
                            {pagination 10}>
                            <INCLURE
                                {fond=inclure/blocs/bloc_summary_sub_children}
                                {titre=#NOM_SITE}
                                {url=#URL_SITE}
                                {target="_blank"}>
                        </BOUCLE_resultats_liens>
                    </div>
                    
                    [<nav role="navigation" class="p pagination">(#PAGINATION)</nav>]

                </B_resultats_liens>
                    <!-- pas de résultats -->
                    <p>Pas de liens externes pour cette recherche.</p>
                <//B_resultats_liens>

            </div>

        </div>

    </div>

</section>
</BB_resultats_liens>

<!-- resultats ds adolie --->
<section class="recherche adolie">

    <div class="caption">
        <h3>Résultats dans Adolie (<span class="result_count"></span>)</h3>
    </div>

    <div class="content">

        <div class="bloc summary-children">

            <!-- pas de .caption pour ce .bloc.summary-children-->

            <div class="content">
                <template class="bloc_summary_sub_children_template">
                    <a href="" target="_blank" class="bloc summary-sub-children external">
                        <figure>
                            <div><img src=""></div>
                            <figcaption>
                                <h4></h4>
                            </figcaption>
                        </figure>
                    </a>
                </template>

            </div>

        </div>

    </div>
</section>