<!--
    Appelé par :
    - main_visite.html
-->

<BOUCLE_scope(RUBRIQUES)
    {id_rubrique}
>

<!-- Section sommaire -->
<section class="grid sommaire">
    <div class="caption">
      <h3></h3>
    </div>

    <div class="content">

        <BOUCLE_sous_rubriques(RUBRIQUES)
            {id_parent}>
        
            <!-- si autres rubriques que la rubrique 5 "Visite virtuelle" -->
            [(#ID_RUBRIQUE|=={5}|non)
                <INCLURE
                    {fond=inclure/blocs/bloc_summary_children}
                    {pagination="non"}
                    {id_rubrique}
                    {titre}
                    {url=#URL_RUBRIQUE}
                    {logo=#LOGO_RUBRIQUE}>
            ]

      </BOUCLE_sous_rubriques>

    </div>
</section>

</BOUCLE_scope>
