<!-- 
    Appellé par :
    - main_sommaire.html
-->

<BOUCLE_scope(RUBRIQUES)
    {id_rubrique}>

    <section class="grid actu">

        <div class="caption">
            <h2>#TITRE</h2>
        </div>

        <div class="content">

            <BOUCLE_sous_rubriques(RUBRIQUES)
                {id_parent}>

                <INCLURE
                    {fond=inclure/blocs/bloc_summary_children}
                    {env}
                    {ajax}
                    {pagination="oui"}
                    {id_rubrique}
                    {titre}
                    {url="non"}
                    {style=#GET{couleurs/#COMPTEUR_BOUCLE}}>

            </BOUCLE_sous_rubriques>

        </div>
    </section>

</BOUCLE_scope>