<BOUCLE_scope(RUBRIQUES)
    {id_rubrique}
>

<section class="grid themes">
    <!-- Section thèmes -->
    <div class="caption">
      <h3>Thèmes</h3>
    </div>
    <div class="content">

      <BOUCLE_sous_rubriques(RUBRIQUES)
          {id_parent}
          {par num titre}>

          <INCLURE
              {fond=inclure/blocs/bloc_summary_children_themes}
              {pagination="non"}
              {env}
              {id_rubrique}
              {titre}>

      </BOUCLE_sous_rubriques>

    </div>
</section>

</BOUCLE_scope>
