<section class="article-image">

    <div class="caption">
        <h3>Images</h3>
    </div>

    <div class="content">

        [(#ID_RUBRIQUE|=={5}|oui)
            <!-- Dans visite virtuelle, afficher le logo -->
            <figure class="bloc image">
                [<img alt="Photographie de la chambrette" src="(#LOGO_ARTICLE|image_reduire{800,0}|extraire_attribut{src})" loading="lazy">]
                <figcaption>Photographie de la chambrette</figcaption>
            </figure>
        ]

        <BOUCLE_images(DOCUMENTS)
            {id_article}
            {media=image}
            {par date}>
          
            <!-- Inclure un bloc image -->
            <INCLURE
                {fond=inclure/blocs/bloc_image}
                {env}
                {id_document}
                {fichier}
                {titre}
                {descriptif}
                {credits}
                {alt}>

        </BOUCLE_images>
    </div>

</section>