<!-- Section notice -->
<section class="notice">
    <div class="caption">
        <h3>#CAPTION</h3>
    </div>
    <div class="content">
        <INCLURE
            {fond=inclure/blocs/bloc_notice}
            {env}>
    </div>
</section>
