<BOUCLE_scope(RUBRIQUES)
    {id_rubrique}
>

<section class="liste_sous_themes">
    <div class="caption">
      <h2 id="sous_themes">Sous-thèmes</h2>
    </div>
    <div class="content">

        <!-- condition pour les rubriques classiques (pas monographiques) -->
        <BOUCLE_cond_rubrique_classique(CONDITION)
          {si #ID_RUBRIQUE|in_array{#ARRAY{0,57,1,56}}|non}>
          
          <div class="bloc summary-children">

            <!-- Boucle dans les sous-rubriques -->
            <BOUCLE_sous_rubriques(RUBRIQUES)
              {id_parent}
              {par num titre, titre}>
              

              <!-- Boucle dans les articles des sous-rubriques -->
              <BOUCLE_articles(ARTICLES)
                {id_rubrique}
                {0,1}
                {!par date}>

                <INCLURE
                  {fond=inclure/blocs/bloc_summary_sub_children}
                  {titre}
                  {url=#URL_ARTICLE}
                  {logo=#LOGO_ARTICLE}>

              </BOUCLE_articles>

            </BOUCLE_sous_rubriques>

          </div>

        </BOUCLE_cond_rubrique_classique>

        <!-- condition pour les rubriques monographiques -->
        <BOUCLE_cond_rubrique_mono(CONDITION)
          {si #ID_RUBRIQUE|in_array{#ARRAY{0,57,1,56}}|oui}>

          <INCLURE
            {fond=inclure/blocs/bloc_summary_sub_children_mono}
            {env}>

          <!-- condition si env contient "lettre" -->
          <BOUCLE_cond_lettre(CONDITION)
            {si #ENV{lettre}}>

            <div class="bloc summary-children">

              <BOUCLE_lettre_env(RUBRIQUES)
                {id_parent}
                {par titre}
                {titre==^(#ENV{lettre,A})}>

                <BOUCLE_article_dans_lettre(ARTICLES)
                  {id_rubrique}
                  {par titre}
                  {0,1}>

                  <INCLURE
                    {fond=inclure/blocs/bloc_summary_sub_children}
                    {titre}
                    {url=#URL_ARTICLE}
                    {logo=#LOGO_ARTICLE}>

                </BOUCLE_article_dans_lettre>
              </BOUCLE_lettre_env>
              
            </div>

          </BOUCLE_cond_lettre>

        </BOUCLE_cond_rubrique_mono>

    </div>
</section>

</BOUCLE_scope>
