<!-- Squelette pour la section .secteur -->

<!-- 
    Affiche la section .secteur
    pour choisir entre les rubriques "Visite" et "Portail"

    Appelé par :
    - main/main_sommaire.html

    Appelle :
    - blocs/bloc_secteur.html
-->

<section class="secteur">
    <div class="content">

        <!--
            Bloc .secteur
            pour la rubrique "Visite" (1)
        -->
        <BOUCLE_scope_visite(RUBRIQUES)
            {id_rubrique=1}>
            <a href="#URL_RUBRIQUE" class="bloc secteur">
                <figure>
                    [<img alt="Logo de la partie Visite" src="(#CHEMIN{assets/img/visite_acl001.jpg}|image_reduire{1000,0}|extraire_attribut{src})">]
                    <figcaption>
                        <h3>#TITRE</h3>
                        #DESCRIPTIF
                    </figcaption>
                </figure>
            </a>
        </BOUCLE_scope_visite>

        <!--
            Bloc .secteur
            pour la rubrique "Portail" (11)
        -->
        <BOUCLE_scope_portail(RUBRIQUES)
            {id_rubrique=11}>
            <a href="#URL_RUBRIQUE" class="bloc secteur">
                <figure>
                    [<img alt="Logo de la partie Portail" src="(#CHEMIN{assets/img/portail_acl015_2.jpg}|image_reduire{1000,0}|extraire_attribut{src})">]
                    <figcaption>
                        <h3>#TITRE</h3>
                        #DESCRIPTIF
                    </figcaption>
                </figure>
            </a>
        </BOUCLE_scope_portail>

    </div>
</section>

