<!-- Section visite virtuelle -->
<section class="visite_virtuelle">
    <div class="caption">
        <h3>Visite virtuelle</h3>
    </div>
    <div class="content">
        
        <BOUCLE_scope_visite_virtuelle(RUBRIQUES)
            {id_rubrique=5}>

            <BOUCLE_image(DOCUMENTS)
                {id_rubrique}
                {media=image}
                {0,1}>
                <div class="bloc article">
                    <figure>
                        [<img alt="#ALT" src="(#FICHIER)">]
                        [<figcaption><h3>(#TITRE)</h3></figcaption>]
                    </figure>
                </div>
            </BOUCLE_image>

        </BOUCLE_scope_visite_virtuelle>

        <!-- inclusion de inclure/blocs/bloc_plan_interactif.html -->
        <INCLURE{fond=inclure/blocs/bloc_plan_interactif, env}/>
        

    </div>
</section>
