<!-- 
    Appellé par :
    - main_sommaire.html
-->
<section class="data">
    <div class="caption">
        <h3>#TITRE</h3>
    </div>
    <div class="content">

        <figure class="bloc data">
            <div class="circle">
                <BOUCLE_data_articles(ARTICLES)/>#TOTAL_BOUCLE<//B_data_articles>
            </div>
            <figcaption>
                <h3>Articles</h3>
            </figcaption>
        </figure>

        <figure class="bloc data">
            <div class="circle">
                <BOUCLE_data_images(DOCUMENTS) {media=image} />#TOTAL_BOUCLE<//B_data_images>
            </div>
            <figcaption>
                <h3>Images</h3>
            </figcaption>
        </figure>

        <figure class="bloc data">
            <div class="circle">
                <BOUCLE_data_documents(DOCUMENTS) {media=file} />#TOTAL_BOUCLE<//B_data_documents>
            </div>
            <figcaption>
                <h3>Documents</h3>
            </figcaption>
        </figure>

    </div>
</section>