<BOUCLE_scope(RUBRIQUES)
    {id_rubrique}
>

<section class="liste_sous_themes">
    <div class="caption">
      <h2 id="sous_themes">Articles</h2>
    </div>
    <div class="content">
		
		<!-- Boucle dans les articles des sous-rubriques -->
        <BOUCLE_articles(ARTICLES)
          {id_rubrique}
          {!par date}>
	          <div class="bloc summary-children">
	                <INCLURE
	                  {fond=inclure/blocs/bloc_summary_sub_children}
	                  {titre}
	                  {url=#URL_ARTICLE}
	                  {logo=#LOGO_ARTICLE}>
	          </div>
        </BOUCLE_articles>

    </div>
</section>

</BOUCLE_scope>



