<!-- 
    Appelé par : 
    - inclure/aside/aside_recherche.html
--->

<!-- resultats ds les images --->
<BB_resultats_images>
<section class="grid_articles">
    <div class="caption">
        <h3>Images (#GRAND_TOTAL)</h3>
    </div>
    <div class="pagination">
        [<nav role="navigation" class="p pagination">(#PAGINATION)</nav>]
    </div>
    <div class="content">
        
        <B_resultats_images>

            <BOUCLE_resultats_images(DOCUMENTS)
                    {media=image}
                    {recherche}
                    {!par points}
                    {statut=publie}
                    {pagination 6}>

                    <BOUCLE_image_article(ARTICLES)
                        {id_document}
                        {0,1}
                        {statut=publie}>

                        <INCLURE
                            {fond=inclure/blocs/bloc_article_image}
                            {titresrc=#INFO_TITRE{document, #ID_DOCUMENT}}
                            {titre=#INFO_TITRE{document, #ID_DOCUMENT}}
                            {url=#URL_ARTICLE}
                            {logo=#URL_DOCUMENT}>
                    </BOUCLE_image_article>

            </BOUCLE_resultats_images>
            
        </B_resultats_images>
            <!-- pas de résultats -->
            <p>Pas d’images pour cette recherche.</p>
        <//B_resultats_images>

    </div>
</section>
</BB_resultats_images>