<div class="formulaire_spip formulaire_recherche[ (#ENV{class})]" id="formulaire_recherche">
<form action="[(#ENV{action})]" method="get">
	<div class="editer-groupe">
		[(#ENV{action}|form_hidden)]
		[<input type="hidden" name="lang" value="(#ENV{lang})" />]
		<label for="#ENV{_id_champ}"><:info_rechercher_02:></label>
		<input type="[(#HTML5|?{search,text})]" class="search text" size="10" name="recherche" id="#ENV{_id_champ}_input"[ value="(#ENV{recherche})"] placeholder="Rechercher" accesskey="4" autocapitalize="off" autocorrect="off"
		/>
		<button class="fr-btn" title="Rechercher"></button>
	</div>
</form>
</div>