/* aside */

aside {
  overflow: hidden;
  font-family: "marianne";
  font-size: var(--l-fs-1);
  line-height: var(--l-lh-1);

}
aside {
  border-top: 1px solid var(--grey-975);

}
aside section.article-image .caption,
aside section.grid_articles .caption {
    color: white; background-color: var(--cumulus);
    height: var(--logo_trame_width);

    display: flex; align-items: center;
}


/* aside.recherche */

aside.recherche {}

aside.recherche .bloc.article {
  border-right: 1px solid var(--grey-975);

  border-bottom: 1px solid var(--grey-975);
}


/* aside bloc image */

.article-image .bloc.image img {
  max-height: 70vh;
  width: auto;
  margin: auto;
  max-width: 100%;

  /* hauteur minimale pr le temps de chargement */
  min-height: 200px;
  background-color: var(--light-cumulus);
}
.article-image .bloc.image {
  position: relative;
  padding-top: var(--p-2);
  padding-bottom: var(--p-3);
  border-bottom: solid 1px var(--grey-975);
}

/* bouton pour ouvrir l'img HD */
.article-image .bloc.image .show_big_image {
  background-color: var(--cumulus);
  border: none;

  position: absolute;
  top: calc(1 * var(--p1));
  left: calc(1 * var(--p1));
}
.article-image .bloc.image .show_big_image:before {
  content: '';
  background-image: url("../img/icons/croix_white.svg");
  background-repeat: no-repeat;
  background-position: center center;
  
  display: block;
  width: calc(3 * var(--m-1));
  aspect-ratio: 1/1;

  cursor: pointer;
}
.article-image .bloc.image .show_big_image:focus:before,
.article-image .bloc.image .show_big_image:hover:before {
  background-image: url("../img/icons/croix.svg");
}


/* aside figcaption */

aside .article-image figcaption {
  font-weight: 700;
  margin: var(--m-2) var(--m-2) 0 var(--m-2);
  text-align:center;
}
aside .article-image p {
  padding: var(--p-2) var(--p-2) 0 var(--p-2);
  margin-left: auto;
  margin-right: auto;
}

aside .article-image a {
  color: var(--cumulus);
  text-decoration: underline;
}