/* .bloc.summary-children */

.bloc.summary-children .caption {}
.bloc.summary-children .caption a {}
.bloc.summary-children .caption figure {
    display: flex;
}
.bloc.summary-children figure figcaption {
    flex: 1;
    display: flex; align-items: center; justify-content: space-between;
    padding: var(--p-1) var(--p-2) var(--p-1) var(--p-2);

    background-color: var(--grey-975);
    border-left: 1px solid var(--grey-975);
}
.bloc.summary-children > .caption figure div {
    background-color: var(--grey-975);
    display: grid; place-items: center;
}

.bloc.summary-children > .caption figure img {
    object-fit: cover;
    width: var(--logo_height); height: var(--logo_height);
}
.bloc.summary-children .caption.no_logo figure { display:flex; }
.bloc.summary-children .caption.no_logo figure::before {
    content: "";
    width: calc(var(--logo_height)/1); flex-shrink: 0;
    min-height: calc(var(--logo_height)/1);

    background-color: var(--light-cumulus);
}
/* cas .external */
.bloc.summary-children .external figure figcaption * {
    padding-right: var(--p-2);
}
.bloc.summary-children .external figure figcaption::after {
    content: url("../img/icons/arrow.svg");
}

.bloc.summary-children > .caption {
    color: var(--cumulus);
}

/* h3, h4 */
.bloc.summary-children h3 {
  font-size: var(--s-fs-1-5);
  line-height: var(--s-lh-1-5);
  font-weight: 600;
}
.bloc.summary-children h4,
.bloc.summary-children p {
  font-size: var(--s-fs-1);
  line-height: var(--s-lh-1);
  font-weight: 400;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
/* paragraphe "pas de résultats" */
.bloc.summary-children p {
    padding: var(--p-1) var(--p-2) var(--p-1) var(--p-2);
}

/* .bloc.summary-children pour section .actu*/

section.actu .content div:nth-child(1) .bloc.summary-children > .caption.no_logo { color: var(--red-marianne); }
section.actu .content div:nth-child(1) .bloc.summary-children > .caption.no_logo figure::before { background-color: var(--red-marianne); }
section.actu .content div:nth-child(2) .bloc.summary-children > .caption.no_logo { color: var(--emeraude); }
section.actu .content div:nth-child(2) .bloc.summary-children > .caption.no_logo figure::before { background-color: var(--emeraude); }
section.actu .content div:nth-child(3) .bloc.summary-children > .caption.no_logo { color: var(--glycine); }
section.actu .content div:nth-child(3) .bloc.summary-children > .caption.no_logo figure::before { background-color: var(--glycine); }
section.actu .content div:nth-child(4) .bloc.summary-children > .caption.no_logo { color: var(--terre-battue); }
section.actu .content div:nth-child(4) .bloc.summary-children > .caption.no_logo figure::before { background-color: var(--terre-battue); }


/* .bloc.summary-children.themes */

.bloc.summary-children.themes {}



/* .bloc.summary-children pour section .recherche */
section.recherche .bloc.summary-children .content {
    margin-left: calc(0 * var(--logo_height));
    border-right: 0px;
}



/* .bloc.summary-sub-children */

.bloc.summary-sub-children { display: block; }
.bloc.summary-sub-children:not(section.documents .bloc.summary-sub-children) {
    border: 1px solid var(--grey-975);
    margin-top: -1px;
}
    
section.documents .bloc.summary-sub-children:not(:nth-child(1)) {
  border : none;
  border-top: 1px solid var(--grey-975);
  margin-top: 0;
}
.bloc.summary-sub-children figure {
    display: flex;
}
.bloc.summary-sub-children figure div {
/*  background-color: var(--light-cumulus); */
  display:flex;
  align-items:center;
}
.bloc.summary-sub-children figure img {
    object-fit: cover;
    width: var(--logo_height); height: var(--logo_height);
}
.bloc.summary-sub-children figure figcaption {
    background: none;
}
/* cas .no_logo */
.bloc.summary-sub-children.no_logo figure { display:flex; }
.bloc.summary-sub-children.no_logo figure::before {
    content: "";
    width: calc(var(--logo_height)/1);
    min-height: calc(var(--logo_height)/1);
    flex-shrink: 0;
    background-color: var(--light-cumulus);
}
/* cas .no_logo pour documents */
section.documents .bloc.summary-sub-children.no_logo figure::before {
    content: url("../img/icons/file_blue.svg");
    display: grid; place-items: center;
}
/* cas .no_logo pour liens */
section.liens .bloc.summary-sub-children.no_logo figure::before {
    content: url("../img/icons/arrow_blue.svg");
    display: grid; place-items: center;
}



/* .bloc.summary-sub-children pour .liste_sous_themes */

section.liste_sous_themes .bloc.summary-sub-children {
    margin-bottom: -1px;
    border: 1px solid var(--grey-975);
}


/* .bloc.summary-sub-children-mono */

:root { --square-size: 1.4rem; }
.bloc.summary-sub-children-mono {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 5px; row-gap: 10px;

    width: calc((13 * var(--square-size)) + (12 * 5px));
    margin: calc(var(--square-size) / 2);
}

.liste_sous_themes .bloc.summary-sub-children-mono {
  margin-bottom: var(--m-4);
  margin-left: auto;
  margin-right: auto;
}

/* grid-area: row / col; */
.bloc.summary-sub-children-mono a:nth-child(1) { grid-area: 1 / 1; }
.bloc.summary-sub-children-mono a:nth-child(2) { grid-area: 1 / 3; }
.bloc.summary-sub-children-mono a:nth-child(3) { grid-area: 1 / 5; }
.bloc.summary-sub-children-mono a:nth-child(4) { grid-area: 1 / 7; }
.bloc.summary-sub-children-mono a:nth-child(5) { grid-area: 1 / 9; }
.bloc.summary-sub-children-mono a:nth-child(6) { grid-area: 1 / 11; }
.bloc.summary-sub-children-mono a:nth-child(7) { grid-area: 1 / 13; }

.bloc.summary-sub-children-mono a:nth-child(8) { grid-area: 2 / 2; }
.bloc.summary-sub-children-mono a:nth-child(9) { grid-area: 2 / 4; }
.bloc.summary-sub-children-mono a:nth-child(10) { grid-area: 2 / 6; }
.bloc.summary-sub-children-mono a:nth-child(11) { grid-area: 2 / 8; }
.bloc.summary-sub-children-mono a:nth-child(12) { grid-area: 2 / 10; }
.bloc.summary-sub-children-mono a:nth-child(13) { grid-area: 2 / 12; }

.bloc.summary-sub-children-mono a:nth-child(14) { grid-area: 3 / 1; }
.bloc.summary-sub-children-mono a:nth-child(15) { grid-area: 3 / 3; }
.bloc.summary-sub-children-mono a:nth-child(16) { grid-area: 3 / 5; }
.bloc.summary-sub-children-mono a:nth-child(17) { grid-area: 3 / 7; }
.bloc.summary-sub-children-mono a:nth-child(18) { grid-area: 3 / 9; }
.bloc.summary-sub-children-mono a:nth-child(19) { grid-area: 3 / 11; }
.bloc.summary-sub-children-mono a:nth-child(20) { grid-area: 3 / 13; }

.bloc.summary-sub-children-mono a:nth-child(21) { grid-area: 4 / 2; }
.bloc.summary-sub-children-mono a:nth-child(22) { grid-area: 4 / 4; }
.bloc.summary-sub-children-mono a:nth-child(23) { grid-area: 4 / 6; }
.bloc.summary-sub-children-mono a:nth-child(24) { grid-area: 4 / 8; }
.bloc.summary-sub-children-mono a:nth-child(25) { grid-area: 4 / 10; }
.bloc.summary-sub-children-mono a:nth-child(26) { grid-area: 4 / 12; }

.bloc.summary-sub-children-mono a:not(.disabled) span,
.bloc.summary-sub-children-mono a:not(.disabled):before {
    transition: background-color 0.5s, color 0.5s;
}
.bloc.summary-sub-children-mono a {
    position: relative;
    width: var(--square-size); height: var(--square-size);

    display: grid;
    place-items: center;
}
.bloc.summary-sub-children-mono a:before {
    content: "";
    position: absolute;
    
    width: calc(var(--square-size) + calc(var(--square-size)/2) - 3px);
    aspect-ratio: 1/1;

    border: 1px solid var(--grey-850); border-radius: 100%;
}
.bloc.summary-sub-children-mono a span {
    position: relative; top: -2px;

    font-family: "marianne";
    text-transform: lowercase;
    color: black;
}
.bloc.summary-sub-children-mono a:not(.disabled):focus span,
.bloc.summary-sub-children-mono a:not(.disabled):hover span {
    color: white;
}
.bloc.summary-sub-children-mono a:not(.disabled):focus:before,
.bloc.summary-sub-children-mono a:not(.disabled):hover:before {
    background-color: var(--cumulus);
    border: 1px solid var(--cumulus);
}
.bloc.summary-sub-children-mono a.active:before {
    background-color: var(--cumulus);
    border: 1px solid var(--cumulus);
}
.bloc.summary-sub-children-mono a.active span {
    color: white !important;
}
.bloc.summary-sub-children-mono a.disabled {}
.bloc.summary-sub-children-mono a.disabled span { 
  color: inherit !important;
  opacity: .2;
  background-color: white;
}
