/* .bloc.data */

figure.bloc.data {
  background-color: var(--light-cumulus);
  padding-top: var(--p-1);
}
.bloc.data figcaption {
  background-color: white;
}
.bloc.data .circle {
  width: calc(var(--unit) * 10);
  height: calc(var(--unit) * 10);
  line-height: calc(var(--unit) * 10);
  margin: 0 auto var(--p-1) auto;
  border-radius: 50%;
  background-color:white;
  text-align: center;
  font-family: "marianne";
  font-size: var(--l-fs-3);
  font-weight: 200;
  border: solid 1px;
}
.bloc.data:nth-child(1) {
  color : var(--emeraude);
}
.bloc.data:nth-child(2) {
  color : var(--red-marianne);
}
.bloc.data:nth-child(3) {
  color : var(--glycine);
}
