/* .bloc.secteur */

.bloc.secteur {
    display: block;
    flex: 1;
    border-right: 1px solid var(--grey-975);
}
.bloc.secteur figure {
    transition: all 0.5s;

}
.bloc.secteur figure img {
    object-fit: cover;
    object-position: center center;
    mix-blend-mode: screen;

    /* hauteur minimale pr le temps de chargement */
    min-height: var(--bloc-figure-img-size);
    background-color: var(--light-cumulus);
}
.bloc.secteur figure p {
    padding: var(--p-3);
    max-width: calc(var(--unit) * 50);
    margin: auto;
    margin-bottom: var(--m-3);;
    padding-top: var(--p-1)
}
.bloc.secteur figure figcaption {
    background-color: white;
}
.bloc.secteur figure figcaption h3 {
    text-align: center;
    font-family: "Spectral";
    font-size: var(--s-fs-3);
    line-height: var(--s-lh-3);
    font-weight: 300;
    padding-top: var(--p-1);
}
a.bloc.secteur:nth-child(1):focus figure,
a.bloc.secteur:nth-child(1):hover figure {
  filter: grayscale(1);
  /* background-color: var(--cumulus); */
}
a.bloc.secteur:nth-child(2):focus figure,
a.bloc.secteur:nth-child(2):hover figure {
  filter: grayscale(1);
  /* background-color: var(--medium-terre-battue); */
}

/* Secteur visite */
.bloc.secteur:nth-child(1) figure figcaption h3 {
    color: var(--cumulus);
}
.bloc.secteur:nth-child(1) figure {
  background-color: var(--dark-cumulus);
}

/* Secteur portail */
.bloc.secteur:nth-child(2) figure figcaption h3 {
    color: var(--terre-battue);
}
.bloc.secteur:nth-child(2) figure {
  background-color: var(--dark-terre-battue);
}
