
.notice .content sup {
  line-height:0;
}

.notice .content a {
  color: var(--cumulus);
  text-decoration: underline;
}

.notice .content h2 {
  font-size: var(--s-fs-2);
  line-height: var(--s-lh-2);
  font-weight: 300;
  margin-bottom: var(--m-2);
  margin-top: var(--m-3);
  color: var(--cumulus);
  border-bottom: solid 1px var(--light-cumulus);
}

.notice .content blockquote {
  padding-left: var(--p-2);
  border-left: solid 1px var(--light-cumulus);
  color: var(--cumulus);
}

.notice .content ol,
.notice .content ul {
  padding-left: var(--p-1);
  counter-reset: count 0;
}
.notice .content ol li,
.notice .content ul li {
  font-size: var(--s-fs-1);
  line-height: var(--s-lh-1);
  counter-increment: count 1;
}
.notice .content ul li:before {
  content:"\2022";
  color: var(--cumulus);
  margin-left: calc(var(--p-1) * -1);
}
.notice .content ol li::marker {
  content: counter(count, decimal) '. ';
  color: var(--cumulus);
}

.notice .content ol,
.notice .content ul {
  margin-bottom: var(--m-2);
}

/* bouton partage */

.bloc.notice button {
  font-family: "marianne";
  border: 1px solid var(--grey-950);
  color: var(--cumulus); background-color: white;

  padding: var(--p-1);

  display: flex;
  cursor: pointer;
  
  font-family: "marianne";
  
  transition: color 0.25s, background-color 0.25s, filter 0.25s;
}
.bloc.notice button:focus,
.bloc.notice button:hover {
  color: black; background-color: var(--grey-950);
}
.bloc.notice button span:not(span#share_button) { 
  margin-left: calc(var(--unit) / 4.5);
  font-size: var(--l-fs-1);
  line-height: var(--l-lh-1);
}
.bloc.notice button span#share_button {
  content: url("../img/icons/share_blue.svg");

  display: block;
}
.bloc.notice button:focus span#share_button,
.bloc.notice button:hover span#share_button {
 filter:grayscale(100%);
}
