.bloc .image sup {
  line-height:0;
}

.bloc .image a {
  color: var(--cumulus);
  text-decoration: underline;
}

.bloc .image h2 {
  font-size: var(--l-fs-2);
  line-height: var(--l-lh-2);
  font-weight: 300;
  margin-bottom: var(--m-2);
  margin-top: var(--m-3);
  color: var(--cumulus);
  border-bottom: solid 1px var(--light-cumulus);
}

.bloc .image blockquote {
  padding-left: var(--p-2);
  border-left: solid 1px var(--light-cumulus);
  color: var(--cumulus);
}

.bloc .image ol,
.bloc .image ul {
  padding-left: var(--p-1);
  counter-reset: count 0;
}
.bloc .image ol li,
.bloc .image ul li {
  font-size: var(--l-fs-1);
  line-height: var(--l-lh-1);
  counter-increment: count 1;
}
.bloc .image ul li:before {
  content:"\2022";
  color: var(--cumulus);
  margin-left: calc(var(--p-1) * -1);
}
.bloc .image ol li::marker {
  content: counter(count, decimal) '. ';
  color: var(--cumulus);
}

.bloc .image ol,
.bloc .image ul {
  margin-bottom: var(--m-2);
}
