section.liens .bloc.lien {
  display: block;
}
section.liens .bloc.lien:not(:last-of-type) {
  border-bottom: 1px solid var(--grey-950);
}
section.liens .bloc.lien h3 {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: var(--cumulus);
  font-size:var(--s-fs-1);
  line-height:var(--s-lh-1);
}
section.liens .bloc.lien a:after {
  content: url("../img/arrow_blue.svg");
}
