.bloc.intro figure {
  display: grid;
}
.bloc.intro figure > * {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: -1;
}
.bloc.intro figcaption {
  align-self: end;
  justify-self: end;
  font-family: "marianne";
  font-size: var(--l-fs-0);
  text-align: right;
  padding: var(--p-0);
  background-color: var(--dark-cumulus);
  color: white;
}

/* grand titre centré */
.bloc.intro .titre h1 {
  text-align: center;
  font-family: "Spectral";
  font-size: var(--s-fs-3);
  line-height: var(--s-lh-3);
  font-weight: 300;
  padding: var(--p-1) var(--p-2) var(--p-1) var(--p-2);
  color: var(--cumulus);
}

.bloc.intro .titre p {
  text-align: center;
  padding: var(--p-2);
  padding-top: 0px;
  font-size:var(--s-fs-1);
  line-height:var(--s-lh-1);
}

