/* .bloc */

.bloc {}
.bloc figure img {
    width: 100%;
    object-fit: cover;
    max-height: var(--bloc-figure-img-size);
}

/* h3 */

.bloc.data figcaption h3,
.bloc.plan_interactif figure figcaption h3,
.bloc.article figure figcaption h3 {
    text-align: center;
    font-family: "Marianne";
    font-weight: 400;
    font-size: var(--l-fs-1);
    padding: var(--p-1);
}

/* .bloc.image */

.bloc.image {}

/* .bloc.data */

.bloc.data {
    flex: 1;
    border-right: 1px solid var(--grey-975);
}

/* .bloc.notice */

.bloc.notice {}

/* .bloc.liens */

.bloc.liens {}



/* .bloc visite virtuelle */
section.visite_virtuelle .content .bloc {
    flex: 1;
}



/* .bloc.article */

.bloc.article {
    flex: 1;
}
.bloc.article figure {
    height: 100%;
    display: flex; flex-direction: column;
}
.bloc.article figure img {
    object-fit: cover;
    object-position: center;
    aspect-ratio: 4/3;
}
.bloc.article figure figcaption {
    flex: 1;
}
.bloc.article figure figcaption .title_article {
    color: var(--cumulus);
}
/* cas .no_logo */
.bloc.article.no_logo figure:before {
    content: "";
    height: 100%;
    max-height: var(--bloc-figure-img-size);
    background-color: var(--light-cumulus);
}



/* .bloc.intro */

.bloc.intro img {
    min-height: var(--bloc-figure-img-size);
    background-color: var(--light-cumulus);
}

