@media(min-width:1000px) {

  :root {
    /* Bloc figure image size */
    --bloc-figure-img-size: calc(100vh / 2.5);
    --unit: 1rem;
  }

  /* HEADER */

  header {
    flex-wrap: nowrap;
  }
  header #logo_eej {
    order: initial;
    width: initial;
  }
  header #logo_institutional {
    order: initial;
    width: initial;
  }
  header #ariane {
    flex: 1;
    width: initial;
  }

  /* SECTION */

  section.liste_articles,
  section.data,
  section.partenaires,
  section.logos-partenaires,
  section.recherche,
  section.notice,
  section.themes,
  section.documents,
  section.liens,
  section.visite_virtuelle,
  section.sommaire {
      border-top: solid 1px var(--grey-975);
      display: flex;
  }
  section.site-plan {
      border-top: solid 1px var(--grey-975);
  }
  /* caption */
  section:nth-child(even).notice .caption,
  section:nth-child(even).documents .caption,
  section:nth-child(even).liste_articles .caption,
  section:nth-child(even).data .caption,
  section:nth-child(even).partenaires .caption,
  section:nth-child(even).logos-partenaires .caption,
  section:nth-child(even).recherche .caption,
  section:nth-child(even).liens .caption,
  section:nth-child(even).visite_virtuelle .caption,
  section:nth-child(even).sommaire .caption {
      background-color: var(--medium-cumulus) !important
  }

  section.liste_articles .caption,
  section.data .caption,
  section.partenaires > .caption,
  section.logos-partenaires > .caption,
  section.recherche > .caption,
  section.notice > .caption,
  section.themes > .caption,
  section.documents > .caption,
  section.liens > .caption,
  section.visite_virtuelle > .caption,
  section.sommaire > .caption {
    width: var(--logo_trame_width);
  }
  /* h3 */
  section.liste_articles .caption h3,
  section.data .caption h3,
  section.partenaires > .caption h3,
  section.logos-partenaires > .caption h3,
  section.recherche > .caption h3,
  section.notice > .caption h3,
  section.themes > .caption h3,
  section.documents > .caption h3,
  section.liens > .caption h3,
  section.visite_virtuelle > .caption h3,
  section.sommaire > .caption h3 {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
  }
  /* content */
  section.liste_articles .content,
  section.data .content,
  section.partenaires > .content,
  section.secteur .content,
  section.logos-partenaires > .content,
  section.visite_virtuelle > .content {
      display: flex;
      flex: 1;
  }
  section.recherche > .content,
  section.themes > .content,
  section.documents > .content,
  section.sommaire > .content,
  section.visite_virtuelle > .content {
      flex: 1;
  }

  /* section .liste_sous_themes */
  section.liste_sous_themes {
      margin-left: var(--logo_trame_width);
  }



  /* intro */
  .bloc.intro .titre h1 {
    padding-left: var(--logo_trame_width);
    padding-right: var(--logo_trame_width);
    max-width: 1200px;
    margin: auto;
  }



  /* data */
  section.data {
    display: flex;
  }

  /* actu */
  section.grid.actu .caption h2 {
    text-align: center;
    font-family: "Spectral";
    font-size: var(--s-fs-3);
    line-height: var(--s-lh-3);
    font-weight: 300;
    padding: var(--p-2);
    color: var(--cumulus);
  }
  section.grid.actu > .content {
    padding-top: 0;
  }
  /*partenaires */

  section.partenaires > .content {
    padding: var(--p-3);
  }

  /* section.grid */
  
  section.grid {}
  section.grid > .content {
      display: flex;
      flex-wrap: wrap;
      gap: var(--logo_trame_width);
      padding: var(--logo_trame_width);
  }
  section.grid > .content > * {
      width: calc(50% - calc(var(--logo_trame_width)/2));
  }

  /* SECTION VISITE VIRTUELLE */

  section.visite_virtuelle .bloc figure img {
    max-height: none;
    height: 100%;
  }

  /* ARTICLE */

  .bloc.article {
    border-right: 1px solid var(--grey-975);
  }
  aside .bloc.article {
    border-bottom: 1px solid var(--grey-975);
  }
  
  /* RECHERCHE */
  #recherche input {
    width: 240px;
  }

  /* INTRO TITRE */
  .bloc.intro .titre {
    padding-left: var(--logo_trame_width);
  }
}

@media(max-width:999px) {

  /* HEADER */

  #recherche {
    order: 0;
    margin-left: var(--m-2);
  }

  #ariane {
    margin-left: 0px;
    border: 0px;
  }


  /* SECTION NOTICE */

  section.notice .caption {
    display: none;
  }



  /* SECTION GRID */

  section.grid {}
  section.grid > .caption {
      margin-bottom: var(--p-2);
  }
  section.grid > .content .bloc.summary-children {
      margin-bottom: var(--p-2);
  }



  /* ACTU */
  section.actu > .caption {
      flex-shrink: 0;
      
      display: flex;
      justify-content: center;
      align-items: flex-start;
  
      background-color: var(--cumulus);
      color: white;
  }
  section.actu .caption h2 {
      font-family: "Marianne";
      font-weight: 400;
      font-size: var(--l-fs-1);
      padding-bottom: var(--p-1);
      padding-top: var(--p-1);
  }
  
}
