@media(min-width:1280px) {
  /* WRAPPER */
  .wrapper {
    flex: 1;
    display: flex;
    overflow-y: hidden;
  }
  .wrapper main {
    flex: 1;
    overflow-y: auto;
  }
  .wrapper aside {
    overflow-y: auto;
    width: calc(var(--unit) * 34);
  }
  /* ASIDE */
  aside {
    border-top: none;
    border-left: 1px solid var(--grey-975);
  
  }
  aside .article-image p {
    max-width:calc(var(--unit) * 34);
  }
  
  .min_1280 {
  }
  .max_1280 {
    display: none !important;
  }

  

  /* FOOTER */
  footer {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px var(--grey-975);
  }
  footer nav ul{
    display: flex;
    height: 100%;
  }
  footer nav ul li {
    border-left: solid 1px var(--grey-975);
  }
  footer nav ul li a {
    padding-left: var(--p-1);
    padding-right: var(--p-1);

    display: flex;
    align-items: center;
    height: 100%;
  }
  footer #trame_carre img {
    height: var(--l-lh-1);
    width: var(--logo_trame_width);
    object-fit: cover;
  }

  /* HEADER CLONE DANS FOOTER */
  .header_clone {
    display: none;
  }

}

@media(max-width:1279px) {
  body {
    height: auto;
  }
  aside .article-image p {
    max-width:calc(var(--unit) * 54);
  }
  .min_1280 {
    display: none !important;
  }
  .max_1280 {
  }
  
  
  #recherche {
    margin-top: var(--m-1);
    margin-bottom: var(--p-1);
  }

  #recherche:not(header #recherche) {
    margin-left: var(--p-2);
  }

  #ariane {
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color:white;
    margin:0;
    border-bottom: solid 1px var(--grey-975);
    padding-top: var(--p-1);
  }
  #ariane:empty {
    display: none;
  }

  /* FOOTER */
  footer {
    border-top: calc(var(--logo_height) / 1.3) solid var(--cumulus);
  }
  footer nav ul li a {
    padding: var(--p-1) var(--p-2) var(--p-1) var(--p-2);
    border: 1px solid var(--grey-975);
    margin-top: -1px;
  }
  footer #trame_carre {
    display: none;
  }
}
