@media(min-width:768px) {
  
  /* RECHERCHE */

  #recherche input {
    width: 240px;
  }

}

@media(max-width:767px) {

  /* TITRES */
  section.liste_sous_themes .caption h2,
  section.site-secteur .caption h2,
  .bloc.intro .titre h1,
  .bloc.secteur figure figcaption h3 {
    font-size: var(--s-fs-2);
    line-height: var(--s-lh-2);
  }
  /* RECHERCHE */
  #recherche input {
    width: calc(100vw - 35px - calc(var(--p-2) * 2));
  }
  #recherche {
    margin: auto;
    margin-bottom: var(--p-1);
  }
}
