@media(min-width:500px) {
  
  :root {
    --unit: 1rem;
    /* Bloc figure image size */
    --bloc-figure-img-size: calc(100vh / 4);
  }

  /* HEADER */
  header #ariane nav {
    display: flex;
  }
  header #logo_institutional {
    order : -1;
    width: 50%;
  }
  header #logo_justice {
    width: 85px;
    float: right;
  }



  /* ARIANE */

  #ariane .article_ariane_element:last-child::after {
    top: 22px;
  }



  /* SUMMARY-CHILDREN pour les themes */
  .bloc.summary-children .content {
    margin-left: calc(1 * var(--logo_height));
  }
  /* pr la page theme *1.3 pr les titres de rubriques */
  .bloc.summary-children.themes > .caption figure img {
    width: calc(1.3 * var(--logo_height)); height: calc(1.3 * var(--logo_height));
  }
  .bloc.summary-children.themes > .content {
    margin-left: calc(1.3 * var(--logo_height));
  }
  
}

@media(max-width:499px) {

  /* HEADER */
  header {
    /*position: sticky; top: 0px;*/
    z-index: 10;
  }



  /* FOOTER */
  footer {
    font-size: var(--l-fs-1);
    line-height: var(--l-lh-1);
  }



  /* SECTION BLOC SUMMARY */

  section.grid .bloc.summary-children .content figure img,
  section.site-secteur .bloc.summary-children .content figure img {
    width: calc(var(--logo_height) / 1.3); height: calc(var(--logo_height) / 1.3);
  }
  section.grid .bloc.summary-children .content,
  section.site-secteur .bloc.summary-children .content {
    margin-left: calc(var(--p-1) + 1px);
  }
  section.grid .bloc.no_logo figure::before,
  section.site-secteur .bloc.no_logo figure::before {
    width: calc(var(--logo_height) / 1.3);
    min-height: calc(var(--logo_height) / 1.3);
  }



  /* ARIANE */

  #ariane .article_ariane_element:last-child::after {
    top: 18px;
  }



  /* PAGINATION */

  .pagination-items.pagination_page {
    margin-left: var(--unit);
  }
  


  /* LISTE CHILDREN MONOGRAPHIQUE */

  .bloc.summary-sub-children-mono {
    width: calc((9 * var(--square-size)) + (8 * 5px));
  }
  /* grid-area: row / col; */
  .bloc.summary-sub-children-mono a:nth-child(1) { grid-area: 1 / 1; }
  .bloc.summary-sub-children-mono a:nth-child(2) { grid-area: 1 / 3; }
  .bloc.summary-sub-children-mono a:nth-child(3) { grid-area: 1 / 5; }
  .bloc.summary-sub-children-mono a:nth-child(4) { grid-area: 1 / 7; }
  .bloc.summary-sub-children-mono a:nth-child(5) { grid-area: 1 / 9; }

  .bloc.summary-sub-children-mono a:nth-child(6) { grid-area: 2 / 2; }
  .bloc.summary-sub-children-mono a:nth-child(7) { grid-area: 2 / 4; }
  .bloc.summary-sub-children-mono a:nth-child(8) { grid-area: 2 / 6; }
  .bloc.summary-sub-children-mono a:nth-child(9) { grid-area: 2 / 8; }

  .bloc.summary-sub-children-mono a:nth-child(10) { grid-area: 3 / 1; }
  .bloc.summary-sub-children-mono a:nth-child(11) { grid-area: 3 / 3; }
  .bloc.summary-sub-children-mono a:nth-child(12) { grid-area: 3 / 5; }
  .bloc.summary-sub-children-mono a:nth-child(13) { grid-area: 3 / 7; }
  .bloc.summary-sub-children-mono a:nth-child(14) { grid-area: 3 / 9; }

  .bloc.summary-sub-children-mono a:nth-child(15) { grid-area: 4 / 2; }
  .bloc.summary-sub-children-mono a:nth-child(16) { grid-area: 4 / 4; }
  .bloc.summary-sub-children-mono a:nth-child(17) { grid-area: 4 / 6; }
  .bloc.summary-sub-children-mono a:nth-child(18) { grid-area: 4 / 8; }

  .bloc.summary-sub-children-mono a:nth-child(19) { grid-area: 5 / 1; }
  .bloc.summary-sub-children-mono a:nth-child(20) { grid-area: 5 / 3; }
  .bloc.summary-sub-children-mono a:nth-child(21) { grid-area: 5 / 5; }
  .bloc.summary-sub-children-mono a:nth-child(22) { grid-area: 5 / 7; }
  .bloc.summary-sub-children-mono a:nth-child(23) { grid-area: 5 / 9; }

  .bloc.summary-sub-children-mono a:nth-child(24) { grid-area: 6 / 2; }
  .bloc.summary-sub-children-mono a:nth-child(25) { grid-area: 6 / 4; }
  .bloc.summary-sub-children-mono a:nth-child(26) { grid-area: 6 / 6; }

}
