@media(min-width:1440px) {
  /* WRAPPER */
  .wrapper {
    display: flex;
    flex-direction: row;
  }
  body.secteur.visite{
    background-image: url("../img/visite_tranche_150_acl001.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  body.secteur.portail{
    background-image: url("../img/portail_tranche_150_acl015_2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  body.secteur .wrapper{
    margin-left: var(--logo_trame_width); 
  }
  
  /* ASIDE */
  .wrapper aside {
    width: calc(var(--unit) * 40);
  }
}
