*::selection {
    color: var(--cumulus);
    background-color: var(--light-cumulus);
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  background-color: white;
}
header, footer, #ariane {
  background-color: white;
  font-size: var(--l-fs-0-5);
  line-height: var(--l-lh-0-5);
  font-family: "marianne";
}

/* CONTENT */

section.liens .content{
  width: 100%;
}

/* HOVER */

a.bloc.lien *,
a.bloc.article figure figcaption *,
a.bloc.lien,
a.bloc.article figure figcaption,
a.bloc.article figure figcaption *,
.bloc.summary-children a.caption figure figcaption,
.bloc.summary-children a.caption figure figcaption *,
a.bloc.summary-sub-children figure figcaption,
footer nav li {
  transition: background-color 0.5s, color 0.5s;
}

a.bloc.lien:focus,
a.bloc.lien:hover,
a.bloc.article:focus figure figcaption,
.bloc.summary-children a.caption:focus figure figcaption,
a.bloc.summary-sub-children:focus figure figcaption,
footer nav li:focus,
a.bloc.article:hover figure figcaption,
.bloc.summary-children a.caption:hover figure figcaption,
a.bloc.summary-sub-children:hover figure figcaption,
footer nav li:hover {
  background-color:var(--grey-950);
}
a.bloc.lien:focus *,
a.bloc.lien:hover *,
a.bloc.article:focus figure figcaption,
.bloc.summary-children a.caption:focus figure figcaption,
a.bloc.summary-sub-children:focus figure figcaption,
footer nav li:focus,
a.bloc.article:focus figure figcaption *,
.bloc.summary-children a.caption:focus figure figcaption *,
a.bloc.summary-sub-children:focus figure figcaption *,
footer nav li:focus *,
a.bloc.article:hover figure figcaption,
.bloc.summary-children a.caption:hover figure figcaption,
a.bloc.summary-sub-children:hover figure figcaption,
footer nav li:hover,
a.bloc.article:hover figure figcaption *,
.bloc.summary-children a.caption:hover figure figcaption *,
a.bloc.summary-sub-children:hover figure figcaption *,
footer nav li:hover * {
  filter: grayscale(100%);
  color:black !important;
}
a.bloc.article:hover figure figcaption *,
.bloc.summary-children a.caption:hover figure figcaption * {
}
.bloc.summary-children .external:hover figure figcaption::after {
/*content: url("../img/icons/arrow_white.svg");*/
}



/* PAGINATION */

.pagination-items.pagination_page {
  display: flex;
  column-gap: calc(1/2 * var(--unit));
  margin: var(--unit);
  margin-left: calc(var(--logo_height)/1);
}
aside .pagination-items.pagination_page {
  margin-left: var(--unit);
}

.pagination-items.pagination_page .pagination-item:not(.disabled) a,
.pagination-items.pagination_page .pagination-item:not(.disabled) span {
  aspect-ratio: 1/1;
  border: 1px solid var(--grey-850);
  border-radius: 100%;

  display: grid;
  place-items: center;
  height: 25px;
  padding: 5px;
  line-height: 0;
}

.pagination-items a { text-decoration: none; }
.pagination-items.pagination_page {
  font-family: "Marianne";
  font-size: var(--l-fs-0);
}

.pagination-items.pagination_page .pagination-item.active span,
.pagination-items.pagination_page .pagination-item:not(.disabled):focus a,
.pagination-items.pagination_page .pagination-item:not(.disabled):hover a{
  background-color: var(--cumulus);
  border: 1px solid var(--cumulus);
  color: white;
}
.pagination-items.pagination_page .pagination-item span,
.pagination-items.pagination_page .pagination-item:not(.disabled) a{
  transition: background-color 0.5s, color 0.5s;
}
.pagination-items.pagination_page .pagination-item a { color:inherit; }


/* plan interactif */

g {
  opacity: 1 !important;
}

a:hover g circle,
a:focus g circle{
  fill: var(--light-terre-battue) !important;
}

#plan_liste_wrapper {
  text-align: center;
  height : 100%;
  max-width: 100%;
  background-color: var(--light-cumulus);
}

#plan_liste_wrapper #ground {
  fill: var(--light-cumulus) !important;
}
#plan_liste_wrapper #floor {
  fill: #fff !important;
}

#plan_liste_wrapper svg {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

#plan_liste_wrapper svg * {
  vector-effect : non-scaling-stroke;
  stroke : var(--cumulus)!important;
  stroke-width : 1px!important;
/*transition: opacity 0.5s;*/
  transition: fill 0.5s;
}
#plan_liste_wrapper svg .chambrette * {
  stroke:none !important;
}
#plan_liste_wrapper svg .chambrette path {
  fill:#0000 !important;
}

#plan_liste_wrapper svg #walls_of_fuck {
  fill:#0000 !important;
  stroke : 1px!important;
  stroke : var(--cumulus)!important;
}

/* temporary info */

.temporary-info {
  background-color:#fff;
  border-bottom: 1px solid var(--grey-975);
}
.temporary-info a {
  font-family: "Marianne";
  font-weight: 400;
  font-size: var(--l-fs-2);
  line-height: var(--l-lh-2);
  padding: var(--p-1);
  color: var(--cumulus);
  display:block;
  width:100%;
  text-align:center;
  transition: background-color 0.5s, color 0.5s;
}
.temporary-info a:hover {
  background-color: var(--light-cumulus);
  filter: grayscale(100%);
}
