/* marianne */
@font-face {
    font-family: "Marianne";
    src:  url("../fonts/marianne/Marianne-Light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Marianne";
    src:  url("../fonts/marianne/Marianne-Thin.woff2") format("woff2");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "Marianne";
    src:  url("../fonts/marianne/Marianne-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Marianne";
    src:  url("../fonts/marianne/Marianne-Regular_Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: normal;
}
@font-face {
    font-family: "Marianne";
    src:  url("../fonts/marianne/Marianne-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "Marianne";
    src:  url("../fonts/marianne/Marianne-Bold_Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 900;
}

/* spectral */
@font-face {
    font-family: "Spectral";
    src:  url("../fonts/spectral/spectral-extralight.woff2") format("woff2");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "Spectral";
    src:  url("../fonts/spectral/spectral-extralightitalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: "Spectral";
    src:  url("../fonts/spectral/spectral-light.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Spectral";
    src:  url("../fonts/spectral/spectral-lightitalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: "Spectral";
    src:  url("../fonts/spectral/spectral-regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Spectral";
    src:  url("../fonts/spectral/spectral-italic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "Spectral";
    src:  url("../fonts/spectral/spectral-medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Spectral";
    src:  url("../fonts/spectral/spectral-mediumitalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: "Spectral";
    src:  url("../fonts/spectral/spectral-semibold.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Spectral";
    src:  url("../fonts/spectral/spectral-semibolditalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: "Spectral";
    src:  url("../fonts/spectral/spectral-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Spectral";
    src:  url("../fonts/spectral/spectral-bolditalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: "Spectral";
    src:  url("../fonts/spectral/spectral-extrabold.woff2") format("woff2");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Spectral";
    src:  url("../fonts/spectral/spectral-extrabolditalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 800;
}

/* CLASSES */

* { font-family: var(--font-family); } /* utilisation de var(--font-family) en général */

/* classes pour changer la valeur de la variable var(--font-family) */

.marianne {
    --font-family: "Marianne";
}
.spectral {
    --font-family: "Spectral";
}
