footer {
  font-family: "marianne";
  border-top: solid 1px var(--grey-975);
}

footer nav ul li a {
  padding-left: var(--p-1);
  padding-right: var(--p-1);

  display: flex;
  align-items: center;
  height: 100%;
}
footer #trame_carre img {
  width: var(--logo_trame_width);
}
