header {
  border-bottom: solid 1px var(--grey-975);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: "spectral";
}

header #logo_eej {
  order: -1;
  width: 50%;
}

header #logo_eej img {
  height: var(--logo_height);
  object-fit: contain;
  object-position: top left;
  width: initial;
}

header #ariane {
  width: 100%;
}

header #logo_justice {
  width: 64px;
  float: right;
}
header #logo_institutional  {
  width: 100%;
  order: -2;
  height: 0;
}



/* ARIANE DS HEADER */

#ariane {
  border-left : solid 1px var(--grey-975);
  
  margin-left: var(--m-2);
  margin-right: var(--m-2);
  
  padding-left: var(--p-2);
  padding-right: var(--p-2);

  display: flex;
  flex-direction: column;
  justify-content: end; align-items: flex-start;
  padding-bottom: var(--m-1); /* voir taille de perforation.svg */
}

#ariane {
  font-family: "marianne";
}
#ariane a.not_active {
  font-weight: 200;
  text-decoration: none;
}

#ariane nav {
  display: flex;
  gap: calc(var(--unit) * 2);
}

#ariane .article_ariane_element {
  position: relative;
  max-width: 250px;
}

#ariane .article_ariane_element a {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 1;
}

#ariane .article_ariane_element:after {
  font-weight: 200;
  content: '>';

  position: absolute;
  top: 45%; transform: translateY(-50%);
  right: calc(var(--unit) * -1.3);
}
#ariane .article_ariane_element:last-child * {
  color: var(--cumulus);
}
#ariane .article_ariane_element:last-child::after {
  content: "";
  background-image: url("../img/icons/perforation.svg");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: var(--m-1); width: var(--m-1); /* voir padding-bottom de #ariane */
  position: absolute;
  top: 23px;
  left: 50%; transform: translate(-50%, 0%);
}



/* RECHERCHE DS HEADER */

#recherche {
  margin-left: auto;
  align-self: center;
  margin-right: calc(var(--logo_trame_width) / 2);
}
#recherche .editer-groupe {
  display: flex;
}
#recherche label {
  display: none;
}
#recherche input {
  height: calc(var(--logo_height) / 2);

  padding: 0.5rem 1rem;
  color: var(--grey-525);
  background-color: var(--grey-950);
  border: none;
  border-bottom: 2px solid var(--cumulus);

  font-family: "marianne";
  font-style: italic;
}

#recherche button {
  width: calc(var(--logo_height) / 2);
  height: calc(var(--logo_height) / 2);
  background-color: var(--cumulus);
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

#recherche button:after {
  content: "";
  -webkit-mask-image: url("../img/icons/search-line.svg");
  mask-image: url("../img/icons/search-line.svg");
  background-color: white;
  display: block;
  height: 24px; width: 24px;
}
