/* section */
section.actu {
    border-top: 1px solid var(--grey-975);
}
section.liste_sous_themes {
    border-top: 1px solid var(--grey-975);
}

/* caption */
section.liste_articles .caption,
section.data .caption,
section.partenaires > .caption,
section.logos-partenaires > .caption,
section.recherche > .caption,
section.notice > .caption,
section.themes > .caption,
section.documents > .caption,
section.liens > .caption,
section.visite_virtuelle > .caption,
section.sommaire > .caption {
    flex-shrink: 0;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: var(--cumulus);
    color: white;
}

/* h2 */
section.liste_sous_themes .caption h2,
section.site-secteur .caption h2 {
  text-align: center;
  font-family: "Spectral";
  font-size: var(--s-fs-3);
  line-height: var(--s-lh-3);
  font-weight: 300;
  color: var(--cumulus);
}

/* h3 */
section.liste_articles .caption h3,
section.data .caption h3,
section.partenaires > .caption h3,
section.logos-partenaires > .caption h3,
section.recherche > .caption h3,
section.notice > .caption h3,
section.themes > .caption h3,
section.documents > .caption h3,
section.liens > .caption h3,
section.grid_articles > .caption h3,
section.article-image > .caption h3,
section.visite_virtuelle > .caption h3,
#zoom_container figure figcaption {
    font-family: "Marianne";
    font-weight: 400;
    font-size: var(--l-fs-1);
}
section.liste_articles .caption h3,
section.data .caption h3,
section.partenaires > .caption h3,
section.logos-partenaires > .caption h3,
section.recherche > .caption h3,
section.notice > .caption h3,
section.themes > .caption h3,
section.documents > .caption h3,
section.liens > .caption h3,
section.visite_virtuelle > .caption h3 {
    padding-bottom: var(--p-1);
    padding-top: var(--p-1);
}
section.article-image > .caption h3,
section.grid_articles > .caption h3 {
    margin: auto;
}
/* section centrée */
section.notice .content,
section.liste_sous_themes .caption,
section.liste_sous_themes .content,
section.liens:not(section.liens.recherche) .content,
section.site-secteur > .caption,
section.site-secteur .content {
    max-width: calc(var(--unit) * 44);
    margin: auto;
    padding: var(--p-2);
}
section.liste_sous_themes .caption {
  padding-bottom: 0;
}
section.site-secteur .content {
    padding: 0px;
}


/* p */

section.secteur p {
  font-size: var(--s-fs-1);
  line-height: var(--s-lh-1);
}

/* section.liste_articles */

section.liste_articles {}



/* section.image */

section.image {}

/* section.data */

section.data {}

/* section.visite */

section.visite {}

/* section.notice */

section.notice p {
  font-weight: normal;
  font-size:var(--s-fs-1);
  line-height:var(--s-lh-1);
  margin-bottom: var(--m-2);
}

/* biblio */
.biblio, .biblio * {
  transition: color 0.25s, background-color 0.25s;
}

.biblio p a {
  border: 1px solid var(--grey-950);

  display: inline-flex;
  padding: var(--unit);
  
  text-decoration: none !important;

  font-family: "marianne";
  font-size: var(--l-fs-1);
  line-height: var(--l-lh-1);
}
.biblio p a:before {
  content: "⎗";
  display: grid; place-items: center;
  margin-right: 0.25rem;
}
.biblio p:last-of-type a:before { content: "⎘"; }
.biblio p a:focus,
.biblio p a:hover {
  color: black;
  background-color: var(--grey-950);
}
.biblio p a:focus:before,
.biblio p a:hover:before {
  color: black;
}
/* .biblio p:last-of-type a:before */

/* section.docs */

section.docs .content {
    display: flex;
    flex-direction: column;
}

/* section.documents */
section.documents figcaption h4 {
  font-weight: normal;
  font-size:var(--s-fs-1);
  line-height:var(--s-lh-1);
}

/* section.liens */
section.liens:not(section.liens.recherche) a {
  padding: var(--p-1);
  font-weight: normal;
  font-size:var(--s-fs-1);
  line-height:var(--s-lh-1);
}
section.liens a h3::after {
  content: url("../img/icons/arrow_blue.svg");
}

/* section.liens */

section.liens {}

/* section.article-images */

section.article-images {}

/* section.actu */

section.actu > .content {}
section.actu > .content > * {}




/* section.grid_articles */
section.grid_articles .caption {}
section.grid_articles > .content {
    display: flex;
    flex-wrap: wrap;
}
section.grid_articles > .content > a {
    width: 50%;
    flex: 0 0 auto;
}
/* paragraphe "pas de résultats" */
section.grid_articles > .content > p {
    padding: var(--p-1);
}

/* section.partenaires */

section.partenaires {}

/* h3 */
section.partenaires .content h3 {
  color: var(--cumulus);
}



/* section.logos-partenaires */

section.logos-partenaires {}
section.logos-partenaires ul {
    flex: 1;

    display: flex; flex-wrap: wrap; justify-content: center;
    gap: calc(var(--unit)*1) calc(var(--unit)*2);
    padding: var(--logo_trame_width);
}
section.logos-partenaires ul li { 
    display: flex; align-items: center;
}
section.logos-partenaires img {
    display: block;
    max-width: 170px;
    max-height: 80px;
}



/* section.recherche */

section.recherche {}



/* section.themes */

section.themes > .content {}
section.themes > .content > * {}
