:root {
    
    /* Bloc figure image size */
    --bloc-figure-img-size: calc(100vh / 4);
    
    --unit: 0.85rem;
    
    /* "fs" pour font-size */
    /* "lh" pour line-height */
    
    /* lineal size ratio */
    --l-s-r: 0.9;

    /* serif size ratio */
    --s-s-r: 1.1;
    
    /* lineal line-height ratio */
    --l-lh-r: 1.7;

    /* serif line-height ratio */
    --s-lh-r: 1.55;

    /* "l" pour lineal */ 
    --l-fs-0   : calc( var(--unit) * 0.75 * var(--l-s-r)                 );
    --l-fs-0-5 : calc( var(--unit) * 0.85 * var(--l-s-r)                 );
    --l-fs-1   : calc( var(--unit) * 1    * var(--l-s-r)                 );
    --l-fs-2   : calc( var(--unit) * 1.5  * var(--l-s-r)                 );
    --l-fs-3   : calc( var(--unit) * 3    * var(--l-s-r)                 );

    --l-lh-0   : calc( var(--unit) * 0.75 * var(--l-lh-r) * var(--l-s-r) );
    --l-lh-0-5 : calc( var(--unit) * 0.85 * var(--l-lh-r) * var(--l-s-r) );
    --l-lh-1   : calc( var(--unit) * 1    * var(--l-lh-r) * var(--l-s-r) );
    --l-lh-2   : calc( var(--unit) * 1.5  * var(--l-lh-r) * var(--l-s-r) );
    --l-lh-3   : calc( var(--unit) * 3    * var(--l-lh-r) * var(--l-s-r) );
    
    /* "s" pour serif */
    --s-fs-0   : calc( var(--unit) * 0.75 * var(--s-s-r)                 );
    --s-fs-0-5 : calc( var(--unit) * 0.85 * var(--s-s-r)                 );
    --s-fs-1   : calc( var(--unit) * 1    * var(--s-s-r)                 );
    --s-fs-1-5 : calc( var(--unit) * 1.2 * var(--s-s-r)                  );
    --s-fs-2   : calc( var(--unit) * 1.5  * var(--s-s-r)                 );
    --s-fs-3   : calc( var(--unit) * 2    * var(--s-s-r)                 );
                                         
    --s-lh-0   : calc( var(--unit) * 0.75 * var(--s-lh-r) * var(--s-s-r) );
    --s-lh-0-5 : calc( var(--unit) * 0.85 * var(--s-lh-r) * var(--s-s-r) );
    --s-lh-1   : calc( var(--unit) * 1    * var(--s-lh-r) * var(--s-s-r) );
    --s-lh-1-5 : calc( var(--unit) * 1.2 * var(--s-lh-r) * var(--s-s-r)  );
    --s-lh-2   : calc( var(--unit) * 1.5  * var(--s-lh-r) * var(--s-s-r) );
    --s-lh-3   : calc( var(--unit) * 2    * var(--s-lh-r) * var(--s-s-r) );

    /* "m" pour margin */
    --m-0: calc(var(--unit) * 0.4);
    --m-1: var(--unit);
    --m-2: calc(var(--unit) * 1.5);
    --m-3: calc(var(--unit) * 2);
    --m-4: calc(var(--unit) * 3);
    
    /* "p" pour padding */
    --p-0: calc(var(--unit) * 0.4);
    --p-1: var(--unit);
    --p-2: calc(var(--unit) * 1.5);
    --p-3: calc(var(--unit) * 2);
    --p-4: calc(var(--unit) * 3);

    /* Logo size */
    --logo_trame_width: calc(var(--unit) * 3);/*47px;*/
    /* Header size */
    --logo_height: calc(var(--unit) * 3 * 1.5);/*70px;*/
    /* Aside width */
    --aside_width: calc(100vw/2.75);

    /* Colors */
    --cumulus: #3558a2;
    --dark-cumulus: #152341;        /* replace */
    --medium-cumulus: #3558a2CF;    /* replace */
    --light-cumulus: #3558a21F;     /* replace */
    --emeraude: #34cb6a;
    --dark-emeraude: #23ba59;       /* replace */
    --glycine: #ce70cc;
    --dark-glycine: #bd60bb;        /* replace */
    --light-terre-battue: #ffD98F;  /* replace */
    --terre-battue: #ff732c;
    --medium-terre-battue: #BB6F44;
    --dark-terre-battue: #662E11;   /* replace */
    --red-marianne: #f95c5e; 
    --dark-red-marianne: #e84b4d;   /* replace */
    --grey-525: #7b7b7b;
    --grey-425: #666666;
    --grey-975: #f6f6f6;
    --grey-950: #eeeeee;
    --grey-925: #e5e5e5;
    --grey-850: #cecece;
}
