

/* ZOOM IMAGE HD */

/* container pour zoom sur image hd */
#zoom_container {
  position: fixed; z-index: 10;
  top: 0px; left: 0px;
  width: 100vw; height: 100vh;
  padding: var(--logo_height) var(--logo_trame_width) calc(var(--logo_height) / 2) var(--logo_trame_width);

  background-color: #f6f6f6a6;
}

/* image contenue dans l'écran en hauteur et en largeur */
#zoom_container figure { height: 100%; }
#zoom_container img { object-fit: contain; max-width: 100%; max-height: 100%; }

/* img, figcaption et button superposés */
#zoom_container figure { display: grid; }
#zoom_container figure > * { grid-column-start: 1; grid-column-end: -1; grid-row-start: 1; grid-row-end: -1; }
#zoom_container figure img { place-self: center; }
#zoom_container figure figcaption { align-self: end; justify-self: center; }
#zoom_container #close_button { align-self: start; justify-self: right; }

/* figcaption */ 
#zoom_container figure figcaption {
  padding: var(--p-1);
  color: white; background-color: var(--cumulus);
}
#zoom_container figure > *:not(img):not(figcaption):not(button) { display: none; }

/* bouton pour fermer #zoom_container */
#zoom_container #close_button {
  border: none;
  background-color: var(--cumulus);

  cursor: pointer;
}
#zoom_container #close_button:before {
  content: '';
  background-image: url("../img/icons/multiplier_white.svg");
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: calc(3 * var(--m-1));
  aspect-ratio: 1/1;
}
#zoom_container #close_button:focus:before,
#zoom_container #close_button:hover:before {
  background-image: url("../img/icons/multiplier.svg");
}
