<!-- Bloc plan interactif -->
<div class="bloc plan_interactif">
    <figure> 
        <INCLURE{fond=inclure/plan_visite}{rubrique=#ID_RUBRIQUE}{chambrette=#ID_ARTICLE} />
        <figcaption>
            <BOUCLE_scope_visite_virtuelle(RUBRIQUES)
                {id_rubrique=5}>
                <h3>[(#TEXTE|textebrut)]</h3>
            </BOUCLE_scope_visite_virtuelle>
        </figcaption>
    </figure>
</div>
