<figure id="#ID_DOCUMENT" class="bloc image">
   
    <!-- condition si img a le mot clé "hd" -->
    <B_mot_cle>
      <BOUCLE_mot_cle(MOTS)
        {id_document}
        {titre_mot=hd}>
          <button class="show_big_image"></button>
          <img alt="#ALT" src="[(#URL_DOCUMENT|image_reduire{800,0}|extraire_attribut{src})]" data-large="[(#URL_DOCUMENT|image_reduire{2000,0}|extraire_attribut{src})]" loading="lazy">
      </BOUCLE_mot_cle>
    </B_mot_cle>
        <img alt="#ALT" src="[(#URL_DOCUMENT|image_reduire{800,0}|extraire_attribut{src})]" loading="lazy">
    <//B_mot_cle>

    <figcaption>#TITRE</figcaption>
    #DESCRIPTIF
    <p>#CREDITS</p>
</figure>

