<!-- 
    Appellé par :
    - sections/section_liste_articles.html
-->

<a href="#URL" class="bloc article [(#LOGO|non)no_logo]">
    <figure>
        [<img alt="Logo de l'article #TITRE" src="(#LOGO|image_reduire{1000,0}|extraire_attribut{src})" loading="lazy">]
        <figcaption>
            <h3>#TITRE</h3>
        </figcaption>
    </figure>
</a>
