<div class="bloc intro">
  <BOUCLE_type(CONDITION){si #ENV{type-page}|=={"rubrique"}}>
    <!-- Si page rubrique -->
      <!-- Si pas de logo, class="no_logo" -->
      <figure class=[(#LOGO_RUBRIQUE|?{"","no_logo"})]> 
          [
            <img
            alt="Logo de la rubrique #TITRE"
            src="(#LOGO_RUBRIQUE|image_reduire{2000,0}|extraire_attribut{src})"
            srcset="[(#LOGO_RUBRIQUE|image_reduire{1000,0}|extraire_attribut{src})] 1000w, [(#LOGO_RUBRIQUE|image_reduire{2000,0}|extraire_attribut{src})] 2000w"
            sizes="(max-width: 1000px) 1000px, 100vw"
            loading="lazy">
          ]
          [<figcaption>(#DESCRIPTIF)</figcaption>]
      </figure>
  </BOUCLE_type>
    <!-- Si page article -->
      <!-- Si pas de logo, class="no_logo" -->
      <figure class=[(#LOGO_ARTICLE|?{"","no_logo"})]> 
          <!-- Si visite virtuelle (1) -->
          [(#ID_RUBRIQUE|=={5}|oui)
            <INCLURE{fond=inclure/plan_visite}{chambrette=#ID_ARTICLE} />
          ]
          <!-- Si non -->
          [(#ID_RUBRIQUE|=={5}|non)
            <!--
              Si pas une rubrique/article
              - article enfant d'une rubrique enfant de la rubrique "Trombinoscope" (57) 
              - article enfant de la rubrique "Actualités" (12)
              - article enfant de la rubrique "En Une" (2)
            -->
            #SET{current_rubrique,#ID_RUBRIQUE}
            <BOUCLE_rubrique(RUBRIQUES)
              {id_rubrique}>
              <BOUCLE_rub_parent(RUBRIQUES)
                {id_enfant}>
                [(#ID_RUBRIQUE|=={57}|non)
                  [(#GET{current_rubrique}|in_array{#ARRAY{0,13, 1,14, 2,15, 3,16, 4,2, 5,57}}|non)
                    [<img alt="Logo de l'article #TITRE" src="(#LOGO_ARTICLE|image_reduire{1300,0}|extraire_attribut{src})" loading="lazy">]
                  ]
                ]
              </BOUCLE_rub_parent>
            </BOUCLE_rubrique>


          ]
          [<figcaption>(#DESCRIPTIF)</figcaption>]
      </figure> 
  <//B_type>
  [<div class="titre">
    <h1>(#TITRE)</h1>
  </div>]
</div>
