<!-- 
    Appelé par : 
    - section_recherche.html
    - blocs/bloc_summary_children.html
    - blocs/bloc_summary_children_themes.html
--->

<a href="#URL" target="#TARGET" class="bloc summary-sub-children [(#LOGO|non)no_logo]">
    <figure>
        [<div><img alt="Logo de l'article #TITRE" src="(#LOGO|image_passe_partout{75,75}|extraire_attribut{src})" loading="lazy"></div>]
        <figcaption>
            <h4>#TITRE</h4>
        </figcaption>
    </figure>
</a>