<!--
    bloc similaire à bloc_article.html mais sans "extraire_attribut"

    Appellé par :
    - sections/section_liste_articles_random.html
    - sections/section_recherche_images.html
-->

<a href="#URL" class="bloc article [(#LOGO|non)no_logo]">
    <figure>
        [<img alt="Logo de l'article #TITRESRC" src="(#LOGO|image_reduire{700,0}|extraire_attribut{src})" loading="lazy">]
        <figcaption>
            <h3>#TITRE</h3>
        </figcaption>
    </figure>
</a>
