<!-- Bloc notice -->
<div class="bloc notice">
    #TEXTE
    [<div class="biblio">
      (#PS)
    </div>]
    <button><span id="share_button"></span> <span>Partager cette page</span></button>
</div>
