<!--
    Appelé par :
    - sections/section_sommaire.html
    - sections/section_actu.html
    - sections/section_docs.html

    Appelle :
    - bloc_summary_sub_children.html
-->

<div class="bloc summary-children">

    <!-- condition pour wrap dans un <a> si argument URL -->
    [(#URL|==={"non"}|non)
        <a href="#URL" class="caption [(#LOGO|non)no_logo]">
            <figure>
                [<img alt="Logo de la rubrique #TITRE" src="(#LOGO|image_passe_partout{75,75}|extraire_attribut{src})" loading="lazy">]
                <figcaption>
                    <h3>#TITRE</h3>
                </figcaption>
            </figure>
        </a>
    ]
    <!-- sinon, on wrap dans une <div> -->
    [(#URL|==={"non"}|oui)
        <div class="caption no_logo" id="pagination#ID_RUBRIQUE">
            <figure>
                <figcaption>
                    <h3>#TITRE</h3>
                </figcaption>
            </figure>
        </div>
    ]


    <!-- TODO : tester s'il faut chercher des sub_children/articles -->
    
    <BOUCLE_pagination(CONDITION){si #ENV{pagination}|=={"non"}|oui}>
        <!-- Si pas de pagination -->
        <div class="content">
            <BOUCLE_articles(ARTICLES)
                {id_rubrique}
                {par titre}>
                <INCLURE
                    {fond=inclure/blocs/bloc_summary_sub_children}
                    {titre}
                    {url=#URL_ARTICLE}
                    {logo=#LOGO_ARTICLE}>
            </BOUCLE_articles>
        </div>

    </BOUCLE_pagination>
        <!-- Si pagination -->
        <B_articles_pagination>
            <div class="content">

                <BOUCLE_articles_pagination(ARTICLES)
                    {id_rubrique}
                    {pagination 3 #ID_RUBRIQUE}
                    {!par date}>
                    <INCLURE
                        {fond=inclure/blocs/bloc_summary_sub_children}
                        {titre}
                        {url=#URL_ARTICLE}
                        {logo=#LOGO_ARTICLE}>
                </BOUCLE_articles_pagination>

            </div>
            [<nav role="navigation" class="p pagination">(#PAGINATION)</nav>]
        </B_articles_pagination>
    <//B_pagination>
    

</div>
