<div class="bloc intro">
    <figure>
        <BOUCLE_image(DOCUMENTS)
            {id_rubrique}
            {media=image}
            {0,1}>
            [
              <img
              alt="Logo de la rubrique #INFO_TITRE{rubrique, #ID_RUBRIQUE}"
              src="(#FICHIER|image_reduire{2000,0}|extraire_attribut{src})"
              srcset="[(#FICHIER|image_reduire{1000,0}|extraire_attribut{src})] 1000w, [(#FICHIER|image_reduire{2000,0}|extraire_attribut{src})] 2000w"
              sizes="(max-width: 1000px) 1000px, 100vw"
              loading="lazy">
            ]
            [<figcaption>(#DESCRIPTIF)</figcaption>]
        </BOUCLE_image>
    </figure>
    
    [<div class="titre">
        <h1>(#TITRE)</h1>
    </div>]
</div>
