<!-- scope pr utiliser id_rubrique -->
<BOUCLE_scope_sub_child(RUBRIQUES) {id_rubrique}>
    <div class="bloc summary-sub-children-mono">
      <!-- boucle ds l'alphabet -->
      <BOUCLE_alphabet_1(DATA){enum A,Z}>
          <B_alphatest_1>
              <!-- get une seule rubrique qui commence par la lettre en cours -->
              <BOUCLE_alphatest_1(RUBRIQUES)
                  {id_parent}
                  {titre==^[#VALEUR].}
                  {0,1}>
                  <!-- output d'un lien .active si la lettre correspond à une rubrique -->
                      <a href="[(#INFO_URL{rubrique, #ID_PARENT}|parametre_url{lettre, [(#TITRE|substr{0,1})]})]#sous_themes" class="[(#ENV{lettre}|=={[(#TITRE|substr{0,1})]}|oui) active]"><span>#VALEUR</span></a>
              </BOUCLE_alphatest_1>
          </B_alphatest_1>
                  <!-- output d'un lien .disabled si la lettre ne correspond à aucune rubrique -->
                  <a class="disabled"><span>#VALEUR</span></a>
          <//B_alphatest_1>
      </BOUCLE_alphabet_1>
    </div>
</BOUCLE_scope_sub_child>
