<BOUCLE_scope(RUBRIQUES)
    {id_rubrique}>

<div class="bloc summary-children themes">
    <!-- Bloc summary-children-theme -->

    <a href="#URL_RUBRIQUE" class="caption [(#LOGO_RUBRIQUE|non)no_logo]">
        <figure>
            [<img alt="Logo de la rubrique #TITRE" src="(#LOGO_RUBRIQUE|image_passe_partout{100,100}|extraire_attribut{src})" loading="lazy">]
            <figcaption>
                <h3>#TITRE</h3>
            </figcaption>
        </figure>
    </a>

    <!-- Si pas de pagination -->
    <div class="content">
        <!-- condition pour les articles classiques (pas monographiques) -->
        <BOUCLE_cond_rubrique_classique(CONDITION)
            {si #ID_RUBRIQUE|in_array{#ARRAY{0,57,1,56}}|non}>
            <BOUCLE_sous_sous_rubriques(RUBRIQUES)
                {id_parent}
                {par num titre}>
                <BOUCLE_sous_article(ARTICLES)
                    {id_rubrique}
                    {par num titre, titre}
                    {0,1}>
              
                    <INCLURE
                        {fond=inclure/blocs/bloc_summary_sub_children}
                        {titre}
                        {url=#URL_ARTICLE}
                        {logo=#LOGO_ARTICLE}>
  
                </BOUCLE_sous_article>
            </BOUCLE_sous_sous_rubriques>
        </BOUCLE_cond_rubrique_classique>
            
        <!-- condition pour les articles monographiques -->
        <BOUCLE_cond_rubrique_mono(CONDITION)
            {si #ID_RUBRIQUE|in_array{#ARRAY{0,57,1,56}}}>
              <INCLURE
                  {fond=inclure/blocs/bloc_summary_sub_children_mono}
                  {titre}
                  {id_rubrique}
                  {url=#URL_ARTICLE}>
        </BOUCLE_cond_rubrique_mono>
    </div>
</div>

</BOUCLE_scope>
