<!-- 
    Appelé par : 
    - recherche.html

    Appelle :
    - section_recherche.html
--->

<main>

<section class="intro">
    <div class="content">
        <div class="bloc intro">
          <div class="titre">
            <h1>Résultats de recherche</h1>
            <p>« #RECHERCHE »</p>
          </div>
        </div>
    </div>
</section>


    <!-- inclusion section_recherche.html --->
    <INCLURE
        {fond=inclure/sections/section_recherche}
        {env}>

</main>