<main>
<!-- 
    Appelé par :
    - sommaire.html

    Appelle :
    - sections/section_secteur.html
    - sections/section_liste_articles.html
    - sections/section_data.html
    - sections/section_liste_articles_random.html
    - sections/section_actu.html
    - sections/section_partenaires.html
    - sections/section_partenaires_logos.html
-->

<!--
    Section .secteur
    Choix entre les rubriques "Visite" (1) et "Portail" (11)
-->
<INCLURE
    {fond=inclure/sections/section_secteur}>

<!--
    Articles en une
    Enfants de la rubrique 2
-->
<INCLURE
    {fond=inclure/sections/section_liste_articles}
    {id_rubrique=2}>

<!--
    Données du site
-->
<INCLURE
    {fond=inclure/sections/section_data}
    {titre=Données du site}>

<!--
    Images du jour
    Choix au hasard dans trois bornes chronologiques
-->
<INCLURE
    {fond=inclure/sections/section_liste_articles_random}
    {titre=Images du jour}>

<!--
    Sommaire actualités
-->
<INCLURE
    {fond=inclure/sections/section_actu}
    {env}
    {ajax}
    {id_rubrique=12}>

<!--
    Derniers articles publiés
--->

<section class="liste_articles">
    <div class="caption">
        <h3>Derniers articles publiés</h3>
    </div>
    <div class="content">

        <BOUCLE_articles(ARTICLES)
            {!par date}
            {branche 11}
            {0,4}
            {statut=publie}>

            <INCLURE
                {fond=inclure/blocs/bloc_article}
                {titre}
                {url=#URL_ARTICLE}
                {logo=#LOGO_ARTICLE}>
            
        </BOUCLE_articles>

    </div>
</section>

<!--
    Sommaire partenaires
-->
<INCLURE
    {fond=inclure/sections/section_partenaires}>

<!--
    Logos partenaires
-->
<INCLURE
    {fond=inclure/sections/section_partenaires_logos}>

</main>
